

@use "sass:math";
@use '../../common/variables' as var;
@use '../../common/' as *;
@use '../../common/color' as color;
@use '../flex/mixin' as flex;

table{
	&{

	}
	&.t_left{
		text-align: left;
	}
	&.t_center{
		text-align: center;
	}
	&.t_right{
		text-align: right;
	}
	@for $i from 1 to 51 {
		.tdw_#{10 * $i} {
			width: rem(10 * $i);
		}
	}

	@include tab(ture) {
		@for $i from 1 to 51 {
			.tdw_md_#{10 * $i} {
				width: rem(10 * $i);
			}
		}
		.tdw_md_full{
			width: 100% !important;
			display: block;
		}
	}

	@include mob {
		@for $i from 1 to 51 {
			.tdw_sm_#{10 * $i} {
				width: rem(10 * $i);
			}
		}
		.tdw_sm_full{
			width: 100% !important;
			display: block ;
		}
	}

	@include mob-mid {
		@for $i from 1 to 51 {
			.tdw_xs_#{10 * $i} {
				width: rem(10 * $i);
			}
		}
	}
	td, th{
		&.t_left{
			text-align: left !important;
		}
		&.t_center{
			text-align: center !important;
		}
		&.t_right{
			text-align: right !important;
		}
	}
	.important{
		color: red;
	}
}


.table_box{
	&{
		font-size: 1rem;
		overflow: hidden;
		border-top: 1px solid color.$color-border;
	}
	table{
		transform: translateX(-1px);
		width: calc(100% + 2px);
		border-spacing: 0;
		table-layout: fixed;

		td, th{
			position: relative;
			vertical-align: middle;
			font-size: em(18);
			padding: em(20, 18) em(15, 18);
			border-left: solid 1px color.$color-border;
			border-right: solid 1px color.$color-border;
			border-bottom: solid 1px color.$color-border;
			&.p_0{
				padding: 0 !important;
			}
		}
		th{
			background-color: rgba(0,0,0,0.03);
		}
		thead{
			th{
				background-color: rgba(0,0,0,0.05);
				font-weight: bold;
			}
		}
	}
	@include pc-small{
		table{
			td, th{
				padding: em(20, 18) em(20, 18);
			}
		}
	}
	@include tab{
		&_md_column{
			table, colgroup, tbody, tr{
				display: block;
			}
			thead{
				display: none;
			}
			th:not([data-mob-tit]){
				display: none;
			}
			[data-mob-tit]{
				width: 100%;
				@include flex.flex-box();
				@include flex.flex-wrap(nowrap);
				padding: em(20, 18);
				padding-left: 0;
				&::before{
					content: attr(data-mob-tit);
					@include flex.flex-box();
					@include flex.align-items(center);
					@include flex.justify-content(center);
					margin: em(-20, 18) em(20) em(-20, 18) 0;
					padding: em(20, 18);
					flex: 0 1 auto;
					width: em(240);
					min-width: em(240);
					font-weight: bold;
					text-align: center;
					background-color: #f3f3f3;
					border-right: solid 1px color.$color-border;
				}
			}
			[data-mob-txt]{
				display: block;
				flex: 1 1 auto;
				width: 100%;
			}
		}
	}
	@include mob{
		table{
			td, th{
				font-size: em(16);
				padding: em(24, 16) em(16, 16);
			}
		}



		&_sm_column, &_md_column{
			table, colgroup, tbody, tr{
				display: block;
			}
			thead{
				display: none;
			}
			th:not([data-mob-tit]){
				display: none;
			}

			[data-mob-tit]{
				width: 100%;
				@include flex.flex-box();
				@include flex.flex-wrap(nowrap);
				padding: em(24, 16);
				padding-left: 0;
				&::before{
					content: attr(data-mob-tit);
					@include flex.flex-box();
					@include flex.align-items(center);
					@include flex.justify-content(center);
					margin: em(-24, 16) em(16) em(-24, 16) 0;
					padding: em(24, 16);
					flex: 0 1 auto;
					width: em(170);
					min-width: em(170);
					font-weight: bold;
					text-align: center;
					background-color: #f3f3f3;
					border-right: solid 1px color.$color-border;
				}
			}

			[data-mob-txt]{
				display: block;
				flex: 1 1 auto;
				width: 100%;
				> *{
					width: 100%;
				}
			}
		}


		&_sm_column2{
			table, colgroup, tbody, tr{
				display: block;
			}
			thead{
				display: none;
			}
			th:not([data-mob-tit]){
				display: none;
			}

			[data-mob-tit]{
				width: 100%;
				@include flex.flex-box();
				@include flex.flex-direction(column);
				@include flex.flex-wrap(wrap);
				padding: 0;
				background-color: #fff;
				padding-bottom: em(24, 16);;
				&::before{
					width: 100%;
					content: attr(data-mob-tit);
					@include flex.flex-box();
					@include flex.align-items(center);
					@include flex.justify-content(center);
					padding: em(24, 16);
					margin-bottom: em(24, 16);
					flex: 0 1 auto;
					font-weight: bold;
					text-align: center;
					background-color: #f3f3f3;
					border-bottom: solid 1px color.$color-border;
				}
			}

			[data-mob-txt]{
				display: block;
				flex: 1 1 auto;
				width: 100%;
				> *{
					width: 100%;
				}
			}
		}
	}
	@each $name, $color in color.$colors {
		&.c_#{$name}{
			border-top: 2px solid $color;
			.important{
				color: $color;
			}
		}
	}
}



.caption {
	font-size: em(14);
	padding: {
		top: em(8, 14);
		bottom: em(8, 14);
	}
	// color: #999;
	letter-spacing: -.035px;
	font-weight: bold;
	text-align: right;
}
.table_box2{
	&{
		font-size: 1rem;
		overflow: hidden;
		border-top: 2px solid #121212;
		&.st_2 {
			border-top: 1px solid color.$color-border;
		}
	}
	table{
		// transform: translateX(-1px);
		// width: calc(100% + 2px);
		width: 100%;
		border-spacing: 0;
		table-layout: fixed;
		border-collapse: separate;
		text-align: center;

		td, th{
			position: relative;
			vertical-align: middle;
			font-size: em(16);
			padding: em(22, 16) em(15, 16);
			border-bottom: solid 1px color.$color-border;
			font-weight: normal;
		}
		th{
			background-color: #f8f8f8;
			color: #222222;
			border-left:0;
			border-right:0;
			font-weight: bold;
		}
	}
	&.bg_none {
		border-top: 2px solid #222;
		table {
			td, th {
				border: {
					left: none;
					right: none;
				}
				word-break: break-all;
				@include mob {
					padding: {
						left: em(8);
						right: em(8);
					}
				}
			}
			thead {
				th {
					border-bottom: 1px solid color.$color-border;
				}
			}
			th {
				background-color: inherit;
			}
		}
	}
	&.brd {
		table {
			td, th {
				border-right: 1px solid color.$color-border;
				&:last-child:not(:first-child) {
					border-right: 0;
				}
			}
		}
	}
	@include pc-small{
		table{
			td, th{
				padding: em(25, 18) em(25, 18);
			}
		}
	}
	@include mob{
		table{
			td, th{
				font-size: em(16);
				padding: em(25, 16) em(16, 16);
			}
		}
	}


}




.table_box3{
	&{
		font-size: 1rem;
		overflow: hidden;
		border-top: 2px solid #222;
		&.st2 {
			table {
				td {
					height :em(72, 16);
					padding: {
						top: em(20, 16);
						bottom: em(20, 16);
					}
				}
				th {
					height :em(72, 18);
					padding: {
						top: em(20, 18);
						bottom: em(20, 18);
					}
				}
			}
		}
	}
	table{
		transform: translateX(-1px);
		width: calc(100% + 2px);
		border-spacing: 0;
		table-layout: fixed;

		td, th{
			position: relative;
			vertical-align: middle;


			border-bottom: solid 1px color.$color-border;
			text-align: left;
			&.t_center {
				text-align: center;
			}
		}
		.pos_top {
			vertical-align: top;
		}
		td {
			font-size: em(16);
			padding: em(20, 16) em(24, 16);
			height: em(80, 16);
		}
		th{
			font-weight: bold;
			font-size: em(18);
			padding: em(20, 18) em(24, 18);
			height: em(80, 18);
			@include pc-only {
				&.pos_top {
					padding-top: em(37, 18);
				}
			}
		}
	}
	@include pc-small{
		table{
			td, th{
				padding: em(20, 18) em(20, 18);
			}
		}
	}
	@include tab{
		&:not(.scroll) {
			table, colgroup,thead,tfoot, tbody, tr, td, th{
				display: block;
				width: 100%;
			}

			table{
				tr{
					border-bottom: 1px solid color.$color-border;
					padding:em(24) 0;
				}

				td, th{
					height: auto;
					padding: 1px;
					border-bottom: 0;
				}
				td + th {
					margin-top: em(24);
					padding-top: em(24);
					border-top: 1px solid color.$color-border;
				}
				th{
					margin-bottom: 1em;
				}
			}
		}
		&.md_table {
			table {
				tr {
					@include flex.flex-box;
					@include flex.flex-wrap('wrap');
					padding: {
						top: 0;
						bottom: 0;
					}
				}
				th, td {
					font-size: 1em;
					padding: {
						top: em(25);
						bottom: em(25);
					}
				}
				th {
					width: em(136);
					margin-bottom: 0;
					padding: {
						left: em(16);
					}
				}
				td {
					width: calc(100% - em(136));
					& + th {
						margin-top: 0;
						& + td {
							border-top: 1px solid color.$color-border;
						}
					}
				}
			}
		}
	}

	@include mob{
		table{
			td, th{
				font-size: em(16);
			}
		}
	}
	@each $name, $color in color.$colors {
		&.c_#{$name}{
			border-top: 2px solid $color;
			.important{
				color: $color;
			}
		}
	}
}



.table_box4{
	&{
		font-size: 1rem;
		overflow: hidden;
		border-top: 2px solid #222;
	}
	table{
		transform: translateX(-1px);
		width: calc(100% + 2px);
		border-spacing: 0;
		table-layout: fixed;

		td, th{
			position: relative;
			vertical-align: middle;
			font-size: em(18);
			padding: em(20, 18) em(40, 18);
			border-bottom: solid 1px color.$color-border;
			height: em(80, 18);
		}
		thead {
			th{
				font-weight: bold;
			}
		}
		tbody {
			th {
				&:not([class*=fw_]) {
					font-weight: normal;
				}
			}
		}
	}
	&.small {
		table {
			td, th {
				padding: em(15, 18) em(20, 18);
				height: auto;
				line-height: 1.2;
			}
		}
	}
	@include pc-small{
		table{
			td, th{
				padding: em(20, 18) em(20, 18);
			}
		}
		&.small {
			table {
				td, th {
					padding: em(15, 18) em(20, 18)
				}
			}
		}
	}
	@include tab{
		// table, colgroup,tfoot, tbody, tr, td, th{
		// 	display: block;
		// 	width: 100%;
		// }
		// thead { display: none; }

		overflow-x: auto;
		table{
			tr{
				border-bottom: 1px solid color.$color-border;
				// padding:em(24) 0;
				&:first-child {
					// padding-top: 0;
				}
			}

			td, th{
				height: auto;
				// padding: 1px;
				border-bottom: 0;
				width: em(240);
			}
			// [data-mob-tit] {
			// 	&::before {
			// 		background-color: #f8f8f8;
			// 	}
			// }
			// [data-mob-txt] {
			// 	&.isset  { text-align: center; }
			// 	[class*=list_] {
			// 		display: inline-block;
			// 		width: auto;
			// 		text-align: left;
			// 	}
			// }
			// .cate {
			// 	background-color: #f8f8f8;
			// 	border-bottom: 1px solid #ddd;
			// }
		}

	}

	@include mob{
		table{
			td, th{
				font-size: em(16);
			}
		}
	}
	@each $name, $color in color.$colors {
		&.c_#{$name}{
			border-top: 2px solid $color;
			.important{
				color: $color;
			}
		}
	}
}


[class*=table_box] {
	&.scroll {
		@include mob-mid {
			overflow-x: auto;
			& > table {
				min-width: em(520);
			}
		}
	}
	&.faq_scroll {
		@include mob {
			overflow-x: auto;
			& > table {
				min-width: em(800);
			}
		}
	}
}
