@use '../../common/' as *;
a{
    -webkit-tap-highlight-color: transparent;
}
.dp{
    &_inb{display: inline-block !important;}
    &_hide{display: none !important;}
    &_show{display: block !important;}

    @include tab(true) {
        &_md_only{
            &_inb{display: inline-block !important;}
            &_hide{display: none !important;}
            &_show{display: block !important;}
        }
    }

    @include tab {
        &_md{
            &_inb{display: inline-block !important;}
            &_hide{display: none !important;}
            &_show{display: block !important;}
        }
    }

    @include mob {
        &_sm{
            &_inb{display: inline-block !important;}
            &_hide{display: none !important;}
            &_show{display: block !important;}
        }
    }
    @include mob-mid {
        &_xsm {
            &_inb{display: inline-block !important;}
            &_hide{display: none !important;}
            &_show{display: block !important;}
        }
    }
}



br{
    &.lg,&.md,&.sm,&.xs,&.xxs{
        display: none;
    }
    &.none{
        display: none;
    }
    @include pc-large{
        &.lg{
            display: block;
        }
        &.lg_none{
            display: none;
        }
    }
    @include pc-small {
        &.slg {
            display: block;
        }
        &.slg_none {
            display: none; 
        }
    }
    @include tab{
        &.md{
            display: block;
        }
        &.md_none{
            display: none;
        }
    }
    @include mob{
        &.sm{
            display: block;
        }
        &.sm_none{
            display: none;
        }
    }
    @include mob-mid{
        &.xs{
            display: block;
        }
        &.xs_none{
            display: none;
        }
    }
    @include mob-small{
        &.xxs{
            display: block;
        }
        &.xxs_none{
            display: none;
        }
    }
}

._rd_box{
    border-radius: rem(40);
}
