
@use '../../common/' as *;

$_area-values: ("t" , "b", "l", "r", "tb", "lr");

.mr_auto{margin-right: auto;}
.ml_auto{margin-left: auto;}

.mlr_auto{margin-left: auto; margin-right: auto;}

@include tab(ture) {
    .ml_md_auto{margin-left: auto;}
    .mlr_md_auto{margin-left: auto; margin-right: auto;}

    .mr_md_auto{margin-right: auto;}
    .ml_md_auto{margin-left: auto;}
    .mlr_md_auto{margin-left: auto; margin-right: auto;}
}
@include mob {
    .mr_sm_auto{margin-right: auto;}
    .ml_sm_auto{margin-left: auto;}
    .mlr_sm_auto{margin-left: auto; margin-right: auto;}
}
@each $type in $_area-values {
    @include mob-not{
        @for $i from 20 to -1  {
            $name : #{$type}_#{5 * $i * 1};
            $num :  $i * 1;

            .m#{$name}{

                @if $type == "t" {
                    margin-top: rem(5 *  $num);
                }
                @else if $type == "b"{
                    margin-bottom: rem(5 *  $num);
                }
                @else if $type == "l"{
                    margin-left: rem(5 *  $num);
                }
                @else if $type == "r"{
                    margin-right: rem(5 *  $num);
                }
                @else if $type == "tb"{
                    margin-top: rem(5 *  $num);
                    margin-bottom: rem(5 *  $num);
                }
                @else if $type == "lr"{
                    margin-left: rem(5 *  $num);
                    margin-right: rem(5 *  $num);
                }
            }
        }
    }
    
    @include tab(ture) {
        @for $i from 20 to -1  {

            $name : #{$type}_md_#{5 * $i * 1};
            $num :  $i * 1;

            .m#{$name}{

                @if $type == "t" {
                    margin-top: rem(5 *  $num);
                }
                @else if $type == "b"{
                    margin-bottom: rem(5 *  $num);
                }
                @else if $type == "l"{
                    margin-left: rem(5 *  $num);
                }
                @else if $type == "r"{
                    margin-right: rem(5 *  $num);
                }
                @else if $type == "tb"{
                    margin-top: rem(5 *  $num);
                    margin-bottom: rem(5 *  $num);
                }
                @else if $type == "lr"{
                    margin-left: rem(5 *  $num);
                    margin-right: rem(5 *  $num);
                }
            }
        }
    }
    @include tab {
        .mr_md_auto{margin-right: auto;}
        .ml_md_auto{margin-left: auto;}
    }

    @include mob {
        @for $i from 20 to -1  {

            $num :  $i * 0.5;

            .m#{$type}_#{5 * $i}{

                @if $type == "t" {
                    margin-top: rem(5 *  $num);
                }
                @else if $type == "b"{
                    margin-bottom: rem(5 *  $num);
                }
                @else if $type == "l"{
                    margin-left: rem(5 *  $num);
                }
                @else if $type == "r"{
                    margin-right: rem(5 *  $num);
                }
                @else if $type == "tb"{
                    margin-top: rem(5 *  $num);
                    margin-bottom: rem(5 *  $num);
                }
                @else if $type == "lr"{
                    margin-left: rem(5 *  $num);
                    margin-right: rem(5 *  $num);
                }
            }
        }

        @for $i from 20 to -1  {

            $num :  $i * 0.5;

            .m#{$type}_md_#{5 * $i * 1}{

                @if $type == "t" {
                    margin-top: rem(5 *  $num);
                }
                @else if $type == "b"{
                    margin-bottom: rem(5 *  $num);
                }
                @else if $type == "l"{
                    margin-left: rem(5 *  $num);
                }
                @else if $type == "r"{
                    margin-right: rem(5 *  $num);
                }
                @else if $type == "tb"{
                    margin-top: rem(5 *  $num);
                    margin-bottom: rem(5 *  $num);
                }
                @else if $type == "lr"{
                    margin-left: rem(5 *  $num);
                    margin-right: rem(5 *  $num);
                }
            }
        }

        @for $i from 21 to -1  {

            $name : #{$type}_sm_#{5 * $i * 1};
            $num :  $i;

            .m#{$name}{
                @if $type == "tb"{
                    margin-top: rem(5 * $num);
                    margin-bottom: rem(5 * $num);
                }
                @else if $type == "lr"{
                    margin-left: rem(5 * $num);
                    margin-right: rem(5 * $num);
                }
                @else if $type == "t" {
                    margin-top: rem(5 * $num);
                }
                @else if $type == "b"{
                    margin-bottom: rem(5 * $num);
                }
                @else if $type == "l"{
                    margin-left: rem(5 * $num);
                }
                @else if $type == "r"{
                    margin-right: rem(5 * $num);
                }
            }
        }
        .mr_sm_auto{margin-right: auto;}
        .ml_sm_auto{margin-left: auto;}
    }
}

@each $type in $_area-values {
    @include mob-not{
        @for $i from 20 to -1  {
            $name : #{$type}_#{5 * $i * 1};
            $num :  $i * 1;

            .p#{$name}{

                @if $type == "t" {
                    padding-top: rem(5 *  $num);
                }
                @else if $type == "b"{
                    padding-bottom: rem(5 *  $num);
                }
                @else if $type == "l"{
                    padding-left: rem(5 *  $num);
                }
                @else if $type == "r"{
                    padding-right: rem(5 *  $num);
                }
                @else if $type == "tb"{
                    padding-top: rem(5 *  $num);
                    padding-bottom: rem(5 *  $num);
                }
                @else if $type == "lr"{
                    padding-left: rem(5 *  $num);
                    padding-right: rem(5 *  $num);
                }
            }
        }
    }
    
    @include tab(ture) {
        @for $i from 20 to -1  {

            $name : #{$type}_md_#{5 * $i * 1};
            $num :  $i * 1;


            .p#{$name}{

                @if $type == "t" {
                    padding-top: rem(5 *  $num);
                }
                @else if $type == "b"{
                    padding-bottom: rem(5 *  $num);
                }
                @else if $type == "l"{
                    padding-left: rem(5 *  $num);
                }
                @else if $type == "r"{
                    padding-right: rem(5 *  $num);
                }
                @else if $type == "tb"{
                    padding-top: rem(5 *  $num);
                    padding-bottom: rem(5 *  $num);
                }
                @else if $type == "lr"{
                    padding-left: rem(5 *  $num);
                    padding-right: rem(5 *  $num);
                }
            }
        }
    }

    @include mob {
        @for $i from 20 to -1  {

            $num :  $i * 0.5;

            .p#{$type}_#{5 * $i * 1}{

                @if $type == "t" {
                    padding-top: rem(5 *  $num);
                }
                @else if $type == "b"{
                    padding-bottom: rem(5 *  $num);
                }
                @else if $type == "l"{
                    padding-left: rem(5 *  $num);
                }
                @else if $type == "r"{
                    padding-right: rem(5 *  $num);
                }
                @else if $type == "tb"{
                    padding-top: rem(5 *  $num);
                    padding-bottom: rem(5 *  $num);
                }
                @else if $type == "lr"{
                    padding-left: rem(5 *  $num);
                    padding-right: rem(5 *  $num);
                }
            }
        }
        @for $i from 20 to -1  {

            $num :  $i * 0.5;

            .p#{$type}_md_#{5 * $i * 1}{

                @if $type == "t" {
                    padding-top: rem(5 *  $num);
                }
                @else if $type == "b"{
                    padding-bottom: rem(5 *  $num);
                }
                @else if $type == "l"{
                    padding-left: rem(5 *  $num);
                }
                @else if $type == "r"{
                    padding-right: rem(5 *  $num);
                }
                @else if $type == "tb"{
                    padding-top: rem(5 *  $num);
                    padding-bottom: rem(5 *  $num);
                }
                @else if $type == "lr"{
                    padding-left: rem(5 *  $num);
                    padding-right: rem(5 *  $num);
                }
            }
        }

        @for $i from 21 to -1  {

            $name : #{$type}_sm_#{5 * $i * 1};
            $num :  $i;

            .p#{$name}{
                @if $type == "tb"{
                    padding-top: rem(5 * $num);
                    padding-bottom: rem(5 * $num);
                }
                @else if $type == "lr"{
                    padding-left: rem(5 * $num);
                    padding-right: rem(5 * $num);
                }
                @else if $type == "t" {
                    padding-top: rem(5 * $num);
                }
                @else if $type == "b"{
                    padding-bottom: rem(5 * $num);
                }
                @else if $type == "l"{
                    padding-left: rem(5 * $num);
                }
                @else if $type == "r"{
                    padding-right: rem(5 * $num);
                }
            }
        }
    }
}