

@use "sass:math";
@use '../../common/variables' as var;
@use '../../common/' as *;
@use '../../common/color' as color;
@use '../flex/mixin' as flex;

$_zindex : 4000;
.mask, .popup_mask{
    position: fixed;
    top:0; left:0;
    width: 100%; height: 100%;
    z-index: $_zindex;
    background: #000;
    opacity: 0.7;
    display: none;
}
.popup{
   &_wrap{
        position: fixed;
        top:0; left:0;
        width: 100%; height: 100%;
        font-size: rem(16);
        z-index: $_zindex;
        overflow: hidden;
        display: none;
        background: rgba(#000, 0);
        transition: background 0.5s;
        transition-delay: 0.5s;
        &.on{
            @include flex.flex-box();
            @include flex.align-items('center');
            @include flex.justify-content('center');
            background: rgba(#000, 0.7);
        }
    }

    &{
        position: absolute;
        left:50%;
        top:10%;
        bottom:10%;
        transform: translateX(-50%) ;
        z-index: $_zindex + 1;
        width: 100%;
    }

    &_box{
        position: relative;
        width: 90%;
        max-width: rem(800);
        &.md {
    		max-width: rem(680);
        }
    }
    &_print_box {
        position: relative;
        width: 80%;
        max-width: rem(1024);
    }
    &_print_con {
        height: auto;
        max-height: calc(90vh - #{em(100)});
        width: 100%;
        padding: 0;
        position: relative;
        background-color: #fff;
        overflow-x: auto;
        overflow-y: auto;
    }

    &_tit{
        @include flex.flex-box();
        @include flex.align-items('center');
        @include flex.justify-content('center');
        height: em(90);
        padding: em(27);
        background-color: map-get(color.$colors, 1);
        color: #fff;
        position: relative;
        ._tit{
            flex: 1 1 auto;
            width: 100%;
            font-size: em(24);
            text-align: center;
            padding: {
                left: em(41+16, 24);
                right: em(41+16, 24);
            }

        }
    }
    &_con{
        height: auto;
        max-height: calc(90vh - #{em(100)});
        width: 100%;
        padding: 0;
        position: relative;
        background-color: #fff;
        overflow-x: hidden;
        overflow-y: auto;
        padding: em(40) em(24);
    }
    &_close{
        position: absolute;
        top:50%; right:em(16);
        font-size: 1em;
        width: em(41); height: em(41);
        transform: translateY(-50%);
        svg{
            width: em(23);
            height: em(23);
        }
    }
    &_btns {
        position: absolute; top: 0; left: 100%;
        margin-left: em(16);
        @include flex.flex-box;
        @include flex.justify-content('center');
        @include flex.flex-direction('column');
        button {
            position: relative;
            left: auto; right: auto; top: auto; bottom: auto;
            & + button {
                margin-top: em(16);
            }
        }
        .popup_close {
            height: auto;
            svg {
                width: em(32); height: em(32);
            }
        }
    }
    @include tab {
        padding: {
            left: em(32, 32);
            right: em(32, 32);
        }
        &_con {
            padding: {
                top: em(40, 16);
                bottom: em(40, 16);
            }
        }
        &_box {
            width: 100%;

            .popup_close {
                width: em(41, 16); height: em(41, 16);
                top: 50%;
                @include vendor(transform, 'translateY(-50%)');
                svg {
                    width: em(23, 16); height: em(23, 16);
                }
            }
        }
    }
    @include mob{
        &_tit{
            height: rem(90);
            padding: em(15) em(16);
            &:not(.t_md_center) ._tit{
                text-align: left;
                font-size: em(20, 16);
                padding-left: 0;
            }

        }
        &_con{
            padding: em(40, 16) em(16, 16);
            max-height: calc(90vh - #{rem(90)});
        }
        &_close{
            height: em(90);
            right:em(16);
            svg{
                width: em(28);
                height: em(28);
            }
        }
    }
}

#passwordPop {
    .popup_box {
        max-width: em(680);
    }
    .inp_box {
        display: block;
        width: 100%;
        .lab {
            display: block;
            font-size: em(18);
            font-weight: bold;
            color: #121212;
            letter-spacing: -.9px;
            margin-bottom: em(16, 18);
        }
    }
    @include tab {
        // font-size: em(32 * 0.8);
        .popup_tit {
            @include flex.justify-content('flex-start');
            @include flex.align-items('center');
            height: em(180, 32);
            position: relative;

            :not(.popup_close) {
                svg {
                    width: em(360, 32);
                    height: em(44, 32);
                }
            }
        }
        .inp_box {
            .lab {
                font-size: em(16, 16);
            }
        }

    }
    @include mob {
        font-size: em(16);
    }
}

#layerPop {
    .popup_box {
        max-width: 80vw;
        width: 100%;
        padding: {
            left: em(70);
            right: em(70);
        }
        max-width: em(1028);
    }
    .popup_con {
        padding: 0;
        position: relative;
        background-color: rgba(22,22,22,0.0);
        max-height: calc(var(--vh, 1vh) * 95 - em(70));

        @at-root #layerPop.video {
            .popup_box {
                width: 100%;
            }
            .popup_con {
                &::before {
                    content:''; display: block;
                    padding-top: 56.25%;
                }
                iframe {
                    position: absolute; top: 0; left: 0;
                    width: 100%; height: 100%;
                }
            }
        }
        @at-root #layerPop.ad {
            .popup_con {
                background-color: #fff;
                padding: em(24);

                // min-height: 56.25%;
                // @include flex.flex-box;
                // @include flex.align-items('center');
                // @include flex.justify-content('center');
                img { max-width: 100%; }
            }
        }
    }
    .popup_close {
        position: absolute;
        top: 0;
        background-color: map-get(color.$colors, 1);
        width: em(70); height: em(70);
        right: 0;
        // @include vendor(transform, 'translateX(100%)');
    }
    @include tab {
        .popup_box {
            // max-width: 100%;
            padding: {
                left: em(16);
                right: em(16);
            }
        }
        .popup_close {
            right: em(16);
            @include vendor(transform, 'translateY(-100%)');
        }
    }
    @include mob {
        .popup_close {
            font-size: em(9);
            right: em(16, 9);
        }
    }
}

#servicePop {
    padding: {
        left: em(16);
        right: em(16);
    }
    .popup_box {
        width: 100%;
        max-width: em(680);
    }
    .popup_con {
        padding: {
            top: em(56);
            bottom: em(56);
            left: em(40);
            right: em(40);
        }
        @include tab {
            padding: {
                left: em(16);
                right: em(16);
            }
        }
    }
    .btn_box {
        margin: {
            left: em(-8);
            right: em(-8);
        }
    }
    .item {
        width: 50%;
        padding-right: em(8);
        padding-left: em(8);
        a {
            @include flex.flex-box;
            @include flex.flex-direction('column');
            @include flex.align-items('center');
            @include flex.justify-content('center');
            padding: em(32) em(16);
            width: 100%; height: em(163);
            border: 1px solid color.$color-border;
            position: relative;
            overflow: hidden;
            &:hover {
                border-color: map-get(color.$colors, 1);
                color: #fff;
                .txt::after {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.566' height='17.566' viewBox='0 0 17.566 17.566'%3E%3Cpath d='m68.552 200.888-6.3-6.3H65.4l4.728 4.728z' transform='rotate(-45 -194.379 168.81)' style='fill:%23ffffff'/%3E%3Cpath d='m68.552 197.409-6.3 6.3H65.4l4.728-4.728z' transform='rotate(-45 -193.989 168.648)' style='fill:%23ffffff'/%3E%3Cpath d='M69.038 197.824v2.229h-14.49l-2.229-2.229z' transform='rotate(-45 -193.335 170.062)' style='fill:%23ffffff'/%3E%3C/svg%3E%0A");
                }
                &::after {
                    transform: translateX(-10%) scaleX(1.25) skewX(-12.5deg);
                    @include mob {

                    }
                }
            }
            &::after {
                content:''; display: block;
                position: absolute; left: 0; transform: translateX(-125%) scaleX(1.25) skewX(-12.5deg);
                background-color: map-get(color.$colors, 1);
                width: 125%; height: 100%;
                transition: transform .45s;
                z-index: 2;
                @include mob {
                    transform: translateX(-150%) scaleX(1.25) skewX(-25deg);
                }
            }
        }
        .txt {
            @include flex.flex-box;
            @include flex.align-items('center');
            @include flex.justify-content('center');
            font-size: em(18);
            margin-top: em(24, 18);
            text-align: center;
            transition: color .3s;
            position: relative; z-index: 3;
            &::after {
                content:''; display: block;
                margin-left: em(4, 18);
                width: em(20, 18); height: em(20, 18);
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.566' height='17.566' viewBox='0 0 17.566 17.566'%3E%3Cpath d='m68.552 200.888-6.3-6.3H65.4l4.728 4.728z' transform='rotate(-45 -194.379 168.81)' style='fill:%23121212'/%3E%3Cpath d='m68.552 197.409-6.3 6.3H65.4l4.728-4.728z' transform='rotate(-45 -193.989 168.648)' style='fill:%23121212'/%3E%3Cpath d='M69.038 197.824v2.229h-14.49l-2.229-2.229z' transform='rotate(-45 -193.335 170.062)' style='fill:%23121212'/%3E%3C/svg%3E%0A") no-repeat center / auto 100%;
                transition: background .2s linear;
            }
        }
    }
    .gonjiam,
    .dongtan {
        &::before {
            content:''; display: block;
            width: em(112); height: em(53);
            background-repeat :no-repeat;
            background-size: auto 100%;
            background-position: center;
            transition: background .2s linear;
            position: relative; z-index: 3;
        }
    }
    .gonjiam {
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='53' viewBox='0 0 112 53'%3E%3Cpath fill='%2300B4ED' d='M42.1,23.1v-1.5v-4.9v-1.5v-1.3l-0.8-0.8H29.1l-0.8,0.8v1.3v1.5v4.9v1.5v25.1v1.5v1.4l0.8,0.8h12.2l0.8-0.8 v-1.4v-1.5V23.1z M40.6,50.4H29.9v-0.7v-1.5V23.1v-1.5v-4.9v-1.5v-0.6h10.7v0.6v1.5v4.9v1.5v25.1v1.5V50.4z'/%3E%3Cg%3E%3Cpath fill='%23121212' d='M20.4,8.1h5.5v1.8h-5.5V8.1z'/%3E%3Cpath fill='%23121212' d='M29.5,8.1H35v1.8h-5.5V8.1z'/%3E%3Cpath fill='%23121212' d='M38.6,8.1h5.5v1.8h-5.5V8.1z'/%3E%3Cpath fill='%23121212' d='M47.8,8.1h5.5v1.8h-5.5V8.1z'/%3E%3Cpath fill='%23121212' d='M56.9,8.1h5.5v1.8h-5.5V8.1z'/%3E%3Cpath fill='%23121212' d='M66,8.1h5.5v1.8H66V8.1z'/%3E%3Cpath fill='%23121212' d='M75.1,8.1h5.5v1.8h-5.5V8.1z'/%3E%3Cpath fill='%23121212' d='M84.3,8.1h5.5v1.8h-5.5V8.1z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23121212' d='M20.4,41.1h5.5v1.8h-5.5V41.1z'/%3E%3Cpath fill='%23121212' d='M47.8,41.1h5.5v1.8h-5.5V41.1z'/%3E%3Cpath fill='%23121212' d='M56.9,41.1h5.5v1.8h-5.5V41.1z'/%3E%3Cpath fill='%23121212' d='M84.3,41.1h5.5v1.8h-5.5V41.1z'/%3E%3Cpath fill='%23121212' d='M20.4,33.5h5.5v1.8h-5.5V33.5z'/%3E%3Cpath fill='%23121212' d='M47.8,33.5h5.5v1.8h-5.5V33.5z'/%3E%3Cpath fill='%23121212' d='M56.9,33.5h5.5v1.8h-5.5V33.5z'/%3E%3Cpath fill='%23121212' d='M84.3,33.5h5.5v1.8h-5.5V33.5z'/%3E%3Cpath fill='%23121212' d='M20.4,25.9h5.5v1.8h-5.5V25.9z'/%3E%3Cpath fill='%23121212' d='M11.2,41.1h5.5v1.8h-5.5V41.1z'/%3E%3Cpath fill='%23121212' d='M11.2,33.5h5.5v1.8h-5.5V33.5z'/%3E%3Cpath fill='%23121212' d='M11.2,25.9h5.5v1.8h-5.5V25.9z'/%3E%3Cpath fill='%23121212' d='M47.8,25.9h5.5v1.8h-5.5V25.9z'/%3E%3Cpath fill='%23121212' d='M56.9,25.9h5.5v1.8h-5.5V25.9z'/%3E%3Cpath fill='%23121212' d='M84.3,25.9h5.5v1.8h-5.5V25.9z'/%3E%3Cpath fill='%23121212' d='M93.4,41.1h5.5v1.8h-5.5V41.1z'/%3E%3Cpath fill='%23121212' d='M93.4,33.5h5.5v1.8h-5.5V33.5z'/%3E%3Cpath fill='%23121212' d='M93.4,25.9h5.5v1.8h-5.5V25.9z'/%3E%3C/g%3E%3Cpath fill='%2300B4ED' d='M32.1,22.9h1.6v22.4h-1.6V22.9z'/%3E%3Cpath fill='%2300B4ED' d='M36.7,22.9h1.6v22.4h-1.6V22.9z'/%3E%3Crect x='42.1' y='21.6' fill='%23121212' width='25.9' height='1.5'/%3E%3Crect x='42.1' y='15.3' fill='%23121212' width='25.9' height='1.5'/%3E%3Crect x='42.1' y='48.3' fill='%23121212' width='25.9' height='1.5'/%3E%3Cpolygon fill='%23121212' points='109.1,15.3 107.6,15.3 100.7,15.3 100.7,2 100,1.3 10.1,1.3 9.4,2 9.4,15.3 2.5,15.3 1,15.3 0.3,16 0.3,22.4 1,23.1 1.8,23.1 1.8,49 2.5,49.8 28.4,49.8 28.4,48.3 3.3,48.3 3.3,23.1 28.4,23.1 28.4,21.6 1.8,21.6 1.8,16.8 3.3,16.8 10.1,16.8 28.4,16.8 28.4,15.3 10.9,15.3 10.9,2.8 99.2,2.8 99.2,15.3 81.7,15.3 81.7,16.8 100,16.8 106.8,16.8 108.3,16.8 108.3,21.6 81.7,21.6 81.7,23.1 106.8,23.1 106.8,48.3 81.7,48.3 81.7,49.8 107.6,49.8 108.3,49 108.3,23.1 109.1,23.1 109.8,22.4 109.8,16 '/%3E%3Cpath fill='%2300B4ED' d='M81.7,23.1v-1.5v-4.9v-1.5v-1.3l-0.8-0.8H68.8L68,13.9v1.3v1.5v4.9v1.5v25.1v1.5v1.4l0.8,0.8h12.2l0.8-0.8v-1.4 v-1.5V23.1z M80.2,49.8v0.7H69.5v-0.7v-1.5V23.1v-1.5v-4.9v-1.5v-0.6h10.7v0.6v1.5v4.9v1.5v25.1V49.8z'/%3E%3Cpath fill='%2300B4ED' d='M71.8,22.9h1.6v22.4h-1.6V22.9z'/%3E%3Cpath fill='%2300B4ED' d='M76.3,22.9H78v22.4h-1.6V22.9z'/%3E%3C/svg%3E%0A");
        }
        &:hover::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='53' viewBox='0 0 112 53'%3E%3Cpath fill='%23ffffff' d='M42.1,23.1v-1.5v-4.9v-1.5v-1.3l-0.8-0.8H29.1l-0.8,0.8v1.3v1.5v4.9v1.5v25.1v1.5v1.4l0.8,0.8h12.2l0.8-0.8 v-1.4v-1.5V23.1z M40.6,50.4H29.9v-0.7v-1.5V23.1v-1.5v-4.9v-1.5v-0.6h10.7v0.6v1.5v4.9v1.5v25.1v1.5V50.4z'/%3E%3Cg%3E%3Cpath fill='%23ffffff' d='M20.4,8.1h5.5v1.8h-5.5V8.1z'/%3E%3Cpath fill='%23ffffff' d='M29.5,8.1H35v1.8h-5.5V8.1z'/%3E%3Cpath fill='%23ffffff' d='M38.6,8.1h5.5v1.8h-5.5V8.1z'/%3E%3Cpath fill='%23ffffff' d='M47.8,8.1h5.5v1.8h-5.5V8.1z'/%3E%3Cpath fill='%23ffffff' d='M56.9,8.1h5.5v1.8h-5.5V8.1z'/%3E%3Cpath fill='%23ffffff' d='M66,8.1h5.5v1.8H66V8.1z'/%3E%3Cpath fill='%23ffffff' d='M75.1,8.1h5.5v1.8h-5.5V8.1z'/%3E%3Cpath fill='%23ffffff' d='M84.3,8.1h5.5v1.8h-5.5V8.1z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23ffffff' d='M20.4,41.1h5.5v1.8h-5.5V41.1z'/%3E%3Cpath fill='%23ffffff' d='M47.8,41.1h5.5v1.8h-5.5V41.1z'/%3E%3Cpath fill='%23ffffff' d='M56.9,41.1h5.5v1.8h-5.5V41.1z'/%3E%3Cpath fill='%23ffffff' d='M84.3,41.1h5.5v1.8h-5.5V41.1z'/%3E%3Cpath fill='%23ffffff' d='M20.4,33.5h5.5v1.8h-5.5V33.5z'/%3E%3Cpath fill='%23ffffff' d='M47.8,33.5h5.5v1.8h-5.5V33.5z'/%3E%3Cpath fill='%23ffffff' d='M56.9,33.5h5.5v1.8h-5.5V33.5z'/%3E%3Cpath fill='%23ffffff' d='M84.3,33.5h5.5v1.8h-5.5V33.5z'/%3E%3Cpath fill='%23ffffff' d='M20.4,25.9h5.5v1.8h-5.5V25.9z'/%3E%3Cpath fill='%23ffffff' d='M11.2,41.1h5.5v1.8h-5.5V41.1z'/%3E%3Cpath fill='%23ffffff' d='M11.2,33.5h5.5v1.8h-5.5V33.5z'/%3E%3Cpath fill='%23ffffff' d='M11.2,25.9h5.5v1.8h-5.5V25.9z'/%3E%3Cpath fill='%23ffffff' d='M47.8,25.9h5.5v1.8h-5.5V25.9z'/%3E%3Cpath fill='%23ffffff' d='M56.9,25.9h5.5v1.8h-5.5V25.9z'/%3E%3Cpath fill='%23ffffff' d='M84.3,25.9h5.5v1.8h-5.5V25.9z'/%3E%3Cpath fill='%23ffffff' d='M93.4,41.1h5.5v1.8h-5.5V41.1z'/%3E%3Cpath fill='%23ffffff' d='M93.4,33.5h5.5v1.8h-5.5V33.5z'/%3E%3Cpath fill='%23ffffff' d='M93.4,25.9h5.5v1.8h-5.5V25.9z'/%3E%3C/g%3E%3Cpath fill='%23ffffff' d='M32.1,22.9h1.6v22.4h-1.6V22.9z'/%3E%3Cpath fill='%23ffffff' d='M36.7,22.9h1.6v22.4h-1.6V22.9z'/%3E%3Crect x='42.1' y='21.6' fill='%23ffffff' width='25.9' height='1.5'/%3E%3Crect x='42.1' y='15.3' fill='%23ffffff' width='25.9' height='1.5'/%3E%3Crect x='42.1' y='48.3' fill='%23ffffff' width='25.9' height='1.5'/%3E%3Cpolygon fill='%23ffffff' points='109.1,15.3 107.6,15.3 100.7,15.3 100.7,2 100,1.3 10.1,1.3 9.4,2 9.4,15.3 2.5,15.3 1,15.3 0.3,16 0.3,22.4 1,23.1 1.8,23.1 1.8,49 2.5,49.8 28.4,49.8 28.4,48.3 3.3,48.3 3.3,23.1 28.4,23.1 28.4,21.6 1.8,21.6 1.8,16.8 3.3,16.8 10.1,16.8 28.4,16.8 28.4,15.3 10.9,15.3 10.9,2.8 99.2,2.8 99.2,15.3 81.7,15.3 81.7,16.8 100,16.8 106.8,16.8 108.3,16.8 108.3,21.6 81.7,21.6 81.7,23.1 106.8,23.1 106.8,48.3 81.7,48.3 81.7,49.8 107.6,49.8 108.3,49 108.3,23.1 109.1,23.1 109.8,22.4 109.8,16 '/%3E%3Cpath fill='%23ffffff' d='M81.7,23.1v-1.5v-4.9v-1.5v-1.3l-0.8-0.8H68.8L68,13.9v1.3v1.5v4.9v1.5v25.1v1.5v1.4l0.8,0.8h12.2l0.8-0.8v-1.4 v-1.5V23.1z M80.2,49.8v0.7H69.5v-0.7v-1.5V23.1v-1.5v-4.9v-1.5v-0.6h10.7v0.6v1.5v4.9v1.5v25.1V49.8z'/%3E%3Cpath fill='%23ffffff' d='M71.8,22.9h1.6v22.4h-1.6V22.9z'/%3E%3Cpath fill='%23ffffff' d='M76.3,22.9H78v22.4h-1.6V22.9z'/%3E%3C/svg%3E%0A");
        }
    }
    .dongtan {
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='53' viewBox='0 0 112 53'%3E%3Cpolygon fill='%2300B4ED' points='8.8,1.5 8.8,2.3 8.8,44.6 10.3,44.6 10.3,2.3 26.9,2.3 26.9,44.6 28.4,44.6 28.4,2.3 28.4,1.5 27.7,0.8 9.5,0.8 '/%3E%3Cg%3E%3Crect x='13.3' y='8.4' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='22.1' y='8.4' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='13.3' y='17.8' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='22.1' y='17.8' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='13.3' y='27.3' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='22.1' y='27.3' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='13.3' y='36.7' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='22.1' y='36.7' fill='%23121212' width='1.8' height='4.5'/%3E%3C/g%3E%3Cpolygon fill='%2300B4ED' points='35.2,44.6 35.2,2.3 51.9,2.3 51.9,44.6 53.4,44.6 53.4,2.3 53.4,1.5 52.7,0.8 34.5,0.8 33.7,1.5 33.7,2.3 33.7,44.6 '/%3E%3Cpolygon fill='%2300B4ED' points='60.2,44.6 60.2,2.3 76.9,2.3 76.9,44.6 78.4,44.6 78.4,2.3 78.4,1.5 77.6,0.8 59.4,0.8 58.7,1.5 58.7,2.3 58.7,44.6 '/%3E%3Cg%3E%3Crect x='38.2' y='8.4' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='47.1' y='8.4' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='38.2' y='17.8' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='47.1' y='17.8' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='38.2' y='27.3' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='47.1' y='27.3' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='38.2' y='36.7' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='47.1' y='36.7' fill='%23121212' width='1.8' height='4.5'/%3E%3C/g%3E%3Cg%3E%3Crect x='63.2' y='8.4' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='72' y='8.4' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='63.2' y='17.8' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='72' y='17.8' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='63.2' y='27.3' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='72' y='27.3' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='63.2' y='36.7' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='72' y='36.7' fill='%23121212' width='1.8' height='4.5'/%3E%3C/g%3E%3Cpolygon fill='%2300B4ED' points='85.1,44.6 85.1,2.3 101.8,2.3 101.8,44.6 103.3,44.6 103.3,2.3 103.3,1.5 102.6,0.8 84.4,0.8 83.6,1.5 83.6,2.3 83.6,44.6 '/%3E%3Cg%3E%3Crect x='88.2' y='8.4' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='97' y='8.4' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='88.2' y='17.8' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='97' y='17.8' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='88.2' y='27.3' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='97' y='27.3' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='88.2' y='36.7' fill='%23121212' width='1.8' height='4.5'/%3E%3Crect x='97' y='36.7' fill='%23121212' width='1.8' height='4.5'/%3E%3C/g%3E%3Cpath fill='%23121212' d='M111.1,44.6h-1.8V1.5l-0.8-0.8H3.5L2.8,1.5v43.1H1l-0.8,0.8v6.4L1,52.5h110.1l0.8-0.8v-6.4L111.1,44.6z M27.7,0.8l0.8,0.8v0.7h5.3V1.5l0.8-0.8h18.2l0.8,0.8v0.7h5.3V1.5l0.8-0.8h18.2l0.8,0.8v0.7h5.3V1.5l0.8-0.8h18.2l0.8,0.8v0.7h4.5 v42.3h-4.5h-1.5H94V5.5h-0.5H93v39.1h-7.8h-1.5h-5.3h-1.5H69V5.5h-0.5H68v39.1h-7.8h-1.5h-5.3h-1.5h-7.8V5.5h-0.5h-0.5v39.1h-7.8 h-1.5h-5.3h-1.5h-7.8V5.5h-0.5h-0.5v39.1h-7.8H8.8H4.3V2.3h4.5V1.5l0.8-0.8H27.7z M109.3,46.1h1V51H1.8v-4.9h1 M94,46.1h7.8h1.5h4.5 M69,46.1h7.8h1.5h5.3h1.5H93 M44.1,46.1h7.8h1.5h5.3h1.5H68 M19.1,46.1h7.8h1.5h5.3h1.5h7.8 M4.3,46.1h4.5h1.5h7.8'/%3E%3C/svg%3E%0A");
        }
        &:hover::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='53' viewBox='0 0 112 53'%3E%3Cpolygon fill='%23ffffff' points='8.8,1.5 8.8,2.3 8.8,44.6 10.3,44.6 10.3,2.3 26.9,2.3 26.9,44.6 28.4,44.6 28.4,2.3 28.4,1.5 27.7,0.8 9.5,0.8 '/%3E%3Cg%3E%3Crect x='13.3' y='8.4' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='22.1' y='8.4' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='13.3' y='17.8' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='22.1' y='17.8' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='13.3' y='27.3' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='22.1' y='27.3' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='13.3' y='36.7' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='22.1' y='36.7' fill='%23ffffff' width='1.8' height='4.5'/%3E%3C/g%3E%3Cpolygon fill='%23ffffff' points='35.2,44.6 35.2,2.3 51.9,2.3 51.9,44.6 53.4,44.6 53.4,2.3 53.4,1.5 52.7,0.8 34.5,0.8 33.7,1.5 33.7,2.3 33.7,44.6 '/%3E%3Cpolygon fill='%23ffffff' points='60.2,44.6 60.2,2.3 76.9,2.3 76.9,44.6 78.4,44.6 78.4,2.3 78.4,1.5 77.6,0.8 59.4,0.8 58.7,1.5 58.7,2.3 58.7,44.6 '/%3E%3Cg%3E%3Crect x='38.2' y='8.4' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='47.1' y='8.4' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='38.2' y='17.8' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='47.1' y='17.8' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='38.2' y='27.3' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='47.1' y='27.3' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='38.2' y='36.7' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='47.1' y='36.7' fill='%23ffffff' width='1.8' height='4.5'/%3E%3C/g%3E%3Cg%3E%3Crect x='63.2' y='8.4' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='72' y='8.4' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='63.2' y='17.8' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='72' y='17.8' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='63.2' y='27.3' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='72' y='27.3' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='63.2' y='36.7' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='72' y='36.7' fill='%23ffffff' width='1.8' height='4.5'/%3E%3C/g%3E%3Cpolygon fill='%23ffffff' points='85.1,44.6 85.1,2.3 101.8,2.3 101.8,44.6 103.3,44.6 103.3,2.3 103.3,1.5 102.6,0.8 84.4,0.8 83.6,1.5 83.6,2.3 83.6,44.6 '/%3E%3Cg%3E%3Crect x='88.2' y='8.4' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='97' y='8.4' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='88.2' y='17.8' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='97' y='17.8' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='88.2' y='27.3' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='97' y='27.3' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='88.2' y='36.7' fill='%23ffffff' width='1.8' height='4.5'/%3E%3Crect x='97' y='36.7' fill='%23ffffff' width='1.8' height='4.5'/%3E%3C/g%3E%3Cpath fill='%23ffffff' d='M111.1,44.6h-1.8V1.5l-0.8-0.8H3.5L2.8,1.5v43.1H1l-0.8,0.8v6.4L1,52.5h110.1l0.8-0.8v-6.4L111.1,44.6z M27.7,0.8l0.8,0.8v0.7h5.3V1.5l0.8-0.8h18.2l0.8,0.8v0.7h5.3V1.5l0.8-0.8h18.2l0.8,0.8v0.7h5.3V1.5l0.8-0.8h18.2l0.8,0.8v0.7h4.5 v42.3h-4.5h-1.5H94V5.5h-0.5H93v39.1h-7.8h-1.5h-5.3h-1.5H69V5.5h-0.5H68v39.1h-7.8h-1.5h-5.3h-1.5h-7.8V5.5h-0.5h-0.5v39.1h-7.8 h-1.5h-5.3h-1.5h-7.8V5.5h-0.5h-0.5v39.1h-7.8H8.8H4.3V2.3h4.5V1.5l0.8-0.8H27.7z M109.3,46.1h1V51H1.8v-4.9h1 M94,46.1h7.8h1.5h4.5 M69,46.1h7.8h1.5h5.3h1.5H93 M44.1,46.1h7.8h1.5h5.3h1.5H68 M19.1,46.1h7.8h1.5h5.3h1.5h7.8 M4.3,46.1h4.5h1.5h7.8'/%3E%3C/svg%3E%0A");
        }
    }
}

#formPop {
    padding-left: 1em;
    padding-right: 1em;
    .popup_box {
        max-width: rem(675);
        @include mob-mid {
            max-width: 100%;
        }
    }
    .popup_con {
        padding: em(40);
        @include tab {
            padding: em(32) em(16);
        }
    }
    @include mob {
        .popup_con {
            .row {
                margin-top: em(-8);
                [class*=col_] {
                    margin-top: em(8);
                    padding: {
                        left: em(4);
                        right: em(4);
                    }
                }
            }
        }
    }
}

#emailPolicy {
    .popup_con {
        padding: {
            left: em(40);
            right: em(40);
        }
    }
    p {
        letter-spacing: -.9px; line-height: 1.555;
        word-break: keep-all;
        font-size: em(18, 16);
    }
    .b_rd {  border-radius: em(18, 16);  padding: em(16, 18); }
    .bg_gray { background-color: #f8f8f8; }
    .point { font-size: em(16, 16); letter-spacing: -.8px; }
    p + p { margin-top: em(24, 16);}
    @include mob {
        p { font-size: em(16); }
        .point { font-size: em(16); }
    }
}
