.App {
  text-align: center;
}

h2.line{
  width: 50px;
  border: 2px solid gold;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
div.inp{
  width: 400px;
  height: 300px;
  border: 3px solid gray;
  padding: 30px 30px;
  font-size: 20px;
}
div.result{
  position: absolute;
  top: 400px;
  left: 50px;
  border: 2px solid red;
  height: 150px;
  width: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
