.small{
    width: 200px;
    height: 300px;
    border: 1em solid greenyellow;
    border-radius: 90px;
    
}
.large{
    width: 400px;
    height: 600px;
    border: 1em solid greenyellow;
    border-radius: 100%;
    
}
.select{
    border: 10px inset gray;
    border-radius: 30px 50px 20px 80px;
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
    margin: 50px 50px;
}