div.a{
    font-size: 1.5em;
    font-family: 'Dongle';
}


div.b>figure{
    float: left;   /*  가로방향 정렬 */
}


div.b>figure>img{
    border: 3px solid green;   
    border-radius: 30px 60px 100px 20px;   /*왼쪽 상단 모서리부터 시계방향*/
}

div.b>figure>figcaption>b {
    font-size: 25px;
    margin-left: 20px;
    font-family: 'Nanum Pen Script';
}

h3.c{
    /*float:left속성 해제*/
    clear: both;
}

div.d{
    display: flex; 
    /*row 가로방향(왼쪽정렬), row-reverse 거꾸로 출력 (우측정렬)
   column 세로방향으로 정렬 */
   flex-direction: row-reverse;
}

div.d img {
    border: 2px solid green;
    box-shadow: 15px 15px 15px 15px;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

div.d b{
    margin-left: 20px;
    font-family: 'Nanum Pen Script';
    color : brown;

}
