@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?f9mezl') format('truetype'),
    url('fonts/icomoon.woff?f9mezl') format('woff'),
    url('fonts/icomoon.svg?f9mezl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconFt_"], [class*=" iconFt_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconFt_fanfare:before {
  content: "\e906";
}
.iconFt_cocktail:before {
  content: "\e912";
}
.iconFt_cal:before {
  content: "\e913";
}
.iconFt_money_cookie:before {
  content: "\e91d";
}
.iconFt_book_money:before {
  content: "\e91e";
}
.iconFt_dishes:before {
  content: "\e92d";
}
.iconFt_bouquet:before {
  content: "\e92e";
}
.iconFt_name_tag:before {
  content: "\e92f";
}
.iconFt_medar:before {
  content: "\e930";
}
.iconFt_send:before {
  content: "\e931";
}
.iconFt_heart:before {
  content: "\e933";
}
.iconFt_grad_cap:before {
  content: "\e934";
}
.iconFt_warning:before {
  content: "\e905";
}
.iconFt_calendar1:before {
  content: "\e901";
}
.iconFt_check2:before {
  content: "\e902";
}
.iconFt_clip1:before {
  content: "\e903";
}
.iconFt_clip2:before {
  content: "\e904";
}
.iconFt_clock:before {
  content: "\e907";
}
.iconFt_close1:before {
  content: "\e908";
}
.iconFt_email:before {
  content: "\e90a";
}
.iconFt_facebook:before {
  content: "\e90b";
}
.iconFt_home:before {
  content: "\e90c";
}
.iconFt_important:before {
  content: "\e90e";
}
.iconFt_kakao:before {
  content: "\e914";
}
.iconFt_left_line:before {
  content: "\e916";
}
.iconFt_phon:before {
  content: "\e920";
}
.iconFt_plus:before {
  content: "\e921";
}
.iconFt_plus2:before {
  content: "\e922";
}
.iconFt_print:before {
  content: "\e923";
}
.iconFt_right_1:before {
  content: "\e925";
}
.iconFt_right_2:before {
  content: "\e926";
}
.iconFt_search1:before {
  content: "\e927";
}
.iconFt_speaker:before {
  content: "\e928";
}
.iconFt_twitter:before {
  content: "\e929";
}
.iconFt_up_line:before {
  content: "\e92a";
}
.iconFt_user:before {
  content: "\e92b";
}
.iconFt_check1:before {
  content: "\e94d";
}
.iconFt_collections:before {
  content: "\e94e";
}
.iconFt_arrow_down:before {
  content: "\e94f";
}
.iconFt_arrow_left:before {
  content: "\e950";
}
.iconFt_arrow_right:before {
  content: "\e951";
}
.iconFt_arrow_up:before {
  content: "\e952";
}
.iconFt_open_in:before {
  content: "\e953";
}
.iconFt_share:before {
  content: "\e92c";
}
.iconFt_tel:before {
  content: "\e9f6";
}
.iconFt_close:before {
  content: "\e9f4";
}
.iconFt_search:before {
  content: "\e9f5";
}
.iconFt_arrow_ty1_r:before {
  content: "\e915";
}
.iconFt_arrow_ty1_l:before {
  content: "\e973";
}
.iconFt_arrow_bar_r2:before {
  content: "\e91c";
}
.iconFt_arrow_bar_l_2:before {
  content: "\e932";
}
.iconFt_like:before {
  content: "\e91f";
}
.iconFt_check:before {
  content: "\e910";
}
.iconFt_down2:before {
  content: "\e91b";
}
.iconFt_link2:before {
  content: "\e900";
}
.iconFt_refresh:before {
  content: "\e917";
}
.iconFt_write:before {
  content: "\e918";
}
.iconFt_calendar:before {
  content: "\e919";
}
.iconFt_clip:before {
  content: "\e911";
}
.iconFt_arrow_l_2:before {
  content: "\e924";
}
.iconFt_arrow_r_2:before {
  content: "\e909";
}
.iconFt_play:before {
  content: "\e90d";
}
.iconFt_naver:before {
  content: "\e91a";
}
.iconFt_youtube:before {
  content: "\e90f";
}
