@use '../../common/color' as color;

@each $name, $color in color.$colors {
    .tc_#{$name}{color: $color;}
}

.tc_w{color: #fff; }
.tc_b{color:color.$color-text-b }
.tc_b2{color:color.$color-text-b2 }
.tc_b3{color:color.$color-text-b3 }
.tc_b4{color:color.$color-text-b4 }
.tc_b5{color:color.$color-text-b5 }

.tc_ing { color: color.$color-bg3; }
.tc_cons { color: #eee; }
