
@use "sass:math";
@use '../../common/' as *;

$_max-num : 33;
.fs{
    @include mob-not{
        @for $i from 1 to $_max-num  {
            @if $i < 10{
                &_#{7+$i*2} {
                    font-size: rem(7 + (2 * $i));
                }
                &_#{8+$i*2} {
                    font-size: rem(8 + (2 * $i));
                }
            }@else{
                &_#{8+$i*2} {
                    font-size: rem(8 + (2 * $i));
                }
            }
        }
    }
    @include tab(ture) {
        @for $i from 1 to $_max-num  {
            @if $i < 10{
                &_md_#{7+$i*2} {
                    font-size: rem(7 + (2 * $i));
                }
                &_md_#{8+$i*2} {
                    font-size: rem(8 + (2 * $i));
                }
            }@else{
                &_md_#{8+$i*2} {
                    font-size: rem(8 + (2 * $i));
                }
            }
        }
    }
    @include mob {
        @for $i from 1 to $_max-num  {
            @if $i < 10{
                &_#{(7+$i*2)} {
                    font-size: rem( (7 + (2 * $i)) * 0.5 );
                }
                &_#{(8+$i*2)} {
                    font-size: rem( (8 + (2 * $i)) * 0.5);
                }
            }@else{
                &_#{(8+$i*2)} {
                    font-size: rem( (8 + (2 * $i)) * 0.5);
                }
            }
        }
        @for $i from 1 to $_max-num  {

            @if $i < 10{
                &_md_#{(7+$i*2)} {
                    font-size: rem( (7 + (2 * $i)) * 0.5 );
                }
                &_md_#{(8+$i*2)} {
                    font-size: rem( (8 + (2 * $i)) * 0.5);
                }
            }@else{
                &_md_#{(8+$i*2)} {
                    font-size: rem( (8 + (2 * $i)) * 0.5);
                }
            }
        }

        @for $i from 1 to $_max-num  {

            @if $i < 10{
                &_sm_#{(7+$i*2)} {
                    font-size: rem( (7 + (2 * $i)));
                }
                &_sm_#{(8+$i*2)} {
                    font-size: rem( (8 + (2 * $i)));
                }
            }@else{
                &_sm_#{(8+$i*2)} {
                    font-size: rem( (8 + (2 * $i)));
                }
            }
        }
    }
}


/*font-size*/
@for $i from 1 to 10  {
    .fw_#{$i*100}{font-weight: $i*100}
}
