

@use "sass:math";
@use '../../common/variables' as var;
@use '../../common/' as *;
@use '../../common/color' as color;
@use '../flex/mixin' as flex;

$_fs : 16;
$searchs : (bgColor : #f5f6fa);

.search_wrap {
    font-size: rem($_fs);
    &.type_a{
        padding: em(30, 16) em(20, 16);

        background: map-get($searchs, bgColor);
    }

    .search{
        &_box{
            max-width: rem(560);
            margin-left: auto;
            margin-right: auto;
            .inp, .sel{
                height: em(50, 16);
                line-height: em(48, 16);
                padding: 0 em(49, 16) 0 em(20, 16);
            }
        }
        &_inp{
            position: relative;
            .search_btn{
                width: em(49, 18);
                padding-top: em(3, 18);
                height: 100%;
                font-size: em(18, 16);
                position: absolute;
                right:0;
                top:50%;
                text-align: center;
                transform: translateY(-50%);
                > *{
                    position: relative;
                }
            }
        }
        &_btn {
            min-width: auto;
        }
    }
    &.type_icon {
        .search {
            &_inp {
                [class*=inp] {
                    padding-right: rem(35);
                }
            }
            &_btn {
                background-color: rgba(255,255,255,0);
                background-image:url('/spsystem/resource/images/common/icon_search.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: rem(19); height: rem(19);
                right: rem(13);
                border: none;
                font-size: 0;
            }
        }
    }

}


@include tab {

}

@include mob {

}
