
@use "sass:math";
@use '../../common/variables' as var;
@use '../../common/' as *;
@use '../../common/color' as color;
@use '../flex/mixin' as flex;
@use '../icon/mixin' as icon;



.ng{
    &_box{
        margin-top: rem(30);
        &:not([class*=fs_]){
            font-size: rem(16);
        }
    }
    &_list{
        border-top:2px solid #000000;
    }
    &_item{
        padding:em(20, 16) 0;
        border-bottom:1px solid #ddd;
        @include flex.flex-box();
        @include flex.flex-wrap(nowrap);
        @include flex.flex-direction(row);
        @include flex.align-items(center);
    }
        
    &_img{
        flex: 0 1 auto;
        vertical-align: middle;
        min-width: em(230, 16);
        background: url('../images/common/no_img.jpg') 50% 50%;
        background-color: #f1f1f1;
        background-image: url('../images/common/no_img.svg');
        background-size:cover;
        &::before{
            content: '';
            display: block;
            padding-top: math.div(130, 230) * 100%;
        }
        
        @include mob {
            display: none;
        }
    }
    &_text{
        flex: 0 1 auto;
        width: 100%;
        overflow: hidden;
        padding:em(8, 16) 0;
        a{
            display: block;
            
        }
        [class*=ellip_]:not(.ellip_1){
            display: -webkit-box;
            word-break:break-all;
        }
        .more{
            font-size: em(15, 16);
            line-height: 1;
            color: #999999;
            padding-right: em(16, 15);
            background:no-repeat center right;
            background-size: em(16, 15) auto;
            background-image: icon.svg-icon-arrow(#999999);
        }
        @at-root .ng_img + .ng_text{
            padding-left:em(30, 16);
            @include mob {
                padding-left:0;
            }
        }
    }
    &_top{
        @include flex('nowrap');
        .mark{
            display: inline-block;
            background-color: #222;
            color: #ffffff;
            padding: em(3, 16) em(20, 16);
            font-size: em(16, 16);
            line-height: 1.2;
            border-radius: em(5, 16);
        }
    }
    &_tit{
        text-indent: 0.15em;
        display:block;
        font-size: em(24, 16);
        line-height: 1;
        font-weight: 500;
        line-height: 1.2;
        position: relative;
        @include vendor(transition, 'color 0.2s');
        &:before{
            content:'';
            display: block;
            width:0;
            height: 1px;
            background-color:#222;
            position: absolute;
            bottom:em(2, 24);
            opacity: 0;
            left:0;
            @include vendor(transition, 'all 0.3s');
        }
        &:hover{
            color:#222;
            &:before{
                width:100%;
                opacity: 1;
            }
        }
        
    }
    &_con{
        display: block;
        color:#666666;
        min-height: 1em;
        line-height: 1;
        margin-top: em(20, 16);
        margin-bottom: em(40, 16);
    }
    
    ul{
        padding-top:rem(20);
        font-size: em(16, 16);
        li{
            display: inline-block;
            font-weight: 300;
            color:#999999;
            padding-right:rem(21);
            position: relative;
            vertical-align: middle;
            img{
                vertical-align: middle;
                padding-bottom: rem(3);
            }
            &::after{
                content:'';
                display: block;
                position: absolute;
                width:1px;
                height: 50%;
                background: #dddddd;
                top:25%;
                right:rem(10);
            }
            &:last-child::after{
                display: none;
            }
        }
        
    }
    @include mob {
        &_box{
            margin-top: rem(15);
            &:not([class*=fs_]){
                font-size: rem(13);
            }
        }
        &_list{
            border-top:1px solid #000000;
        }
        &_text{
            .more{
                font-size: em(12, 13);
            }
        }
        &_top{
            .mark{
                font-size: em(13, 13);
            }
        }
        &_tit{
            font-size: em(24, 16);
        }
        ul{
            font-size: em(13, 13);
        }
    }
}
