
@use "sass:math";
@use '../../common/variables' as var;
@use '../../common/' as *;
@use '../../common/color' as color;
@use '../flex/mixin' as flex;
@use '../icon/mixin' as icon;

$_fs : 18;


.sub_visual.st_4 ~ #con{
	.prev_next_page_box {
		li a:hover {
            color: map-get(color.$colors, 6);
        }
	}
}
.prev_next_page_box {
    border-top: 1px solid #dddddd;
    font-size: rem($_fs);
    li {
        border-bottom: 1px solid #dddddd;
        a {

            @include flex.flex-box;
            @include flex.align-items('stretch');
            @include flex.flex-wrap('nowrap');
            width: 100%;
            color: #666666;
            .item {
                @include flex.flex-box;
                @include flex.align-items('center');
                height: em(100, $_fs);
                vertical-align: middle;
                font-weight: 300;
                padding-left: em(10, $_fs);
                padding-right: em(10, $_fs);

                &:first-child {
                    flex: 0 auto;
                    padding-left: em(40, $_fs);
                    padding-right: em(28, $_fs);
                    color: #222;
                    text-align: left;
                    line-height: 1.5;
                }
                &.tit {
                    // width: 100%;
                    flex: 1 auto;
                    overflow: hidden;
                }

                &:last-child {
                    flex: 0 auto;
                    padding-right: em(26, $_fs);
                    letter-spacing: 0;
                    color: #666;
                }
            }
	        &:hover {
	        	background: #fafafa;
	            color: map-get(color.$colors, 3);
	        }
        }

        i[class^=iconFt] {
            display: inline-block;
            font-size: em(20, $_fs);
            color: color.$color-text-b;
            margin-left: 0;
            margin-right: em(13, 20);
            margin-top: em(-4, $_fs);
            & + span {
                vertical-align: top;
            }
            @include mob {
                margin-top: em(-2, $_fs);
            }
        }

        .ellip_1 {
            display: block;
            * {
                color: inherit !important;
                font-size: inherit !important;
                font-weight: inherit !important;
            }
        }
    }
    &.type_b {
		@include flex.flex-box();
		& > li {width: 50%; }
		.inner {
			@include flex.flex-box();
			align-items: center;
		}


		.inner {
			@include flex.flex-box();
			width: 100%;
			color: #444444;
			height: em(90, $_fs);
			font-weight: 300;
			padding-left: em(30, $_fs);
			padding-right: em(30, $_fs);

			&:hover {
				background: #f5f5f5;
				color: map-get(color.$colors, 3);
			}
		}
		._direct {
			font-weight: 500;
			color: #222;
			position: relative;
            @include flex.flex-box();
            align-items: center;
            line-height: 1;
			&::before {
				content:''; display: block;
				position: absolute; top: 50%;
				border-right: 1px solid #dddddd;
				height: rem(18);
				@include vendor(transform, 'translateY(-50%)');
			}
		}
		.prev_box {
			._direct {
				margin-right: rem(15);
				padding-right: rem(15);
				&::before {
					right: 0;
				}
			}
			i[class^=iconFt] {
				margin-right: rem(35);
			}
		}
		.next_box {
			._direct {
				margin-left: rem(15);
				padding-left: rem(15);
				&::before {
					left: 0;
				}
			}
			i[class^=iconFt] {
				margin-left: rem(35);
			}
			.inner {
				flex-direction: row-reverse;
			}
		}

		i[class^=iconFt] {
			display: inline-block;
			font-size: rem(16);
            color: color.$color-text-b;
		}

		.ellip_1 {
			display: block;
			* {
				color: inherit !important;
				font-size: inherit !important;
				font-weight: inherit !important;
			}
		}
		@include tab {
			// font-size: em(32 * 0.8);
			._direct {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				align-items: center;
				width: 100%;
				position: static;
				i[class^=iconFt] {
					margin-top: 0;
				}
				&::before{ display: none; }
			}
			.inner { position: relative;}
			.next_box {
				._direct {
				    justify-content: flex-end;
					&::before {
						position: absolute; top: 50%; left: 0;
						display: block;
					}
				}
			}
			._subj { display: none; }
		}
		@include mob {
			font-size: em(32 * 0.5);
		}
	}
}
@include tab {
	.prev_next_page_box {
		font-size: rem(32 * 0.55);
		li {
			a {
				.item {
					&:first-child {
						padding-left: em(16, 32);
						padding-right: em(16, 32);
						font-weight: 400;
					}
					&.tit {
						padding-left: 0;
					}
					&:last-child {
						display: none;
					}
				}
			}
			i[class^=iconFt] {
				margin-top: 0;
				margin-right: em(16, 32);
			}
		}
	}
}

@include mob {
    .prev_next_page_box {
        font-size: rem(32 * 0.5);
        li {
            i[class*=iconFt_] {
                font-size: 1.5em;
                margin-right: .3em;
                margin-top: 0;
            }
            a {
                .item {
                    padding-left: em(10, 14);
                    padding-right: em(10, 14);
                    height: em(70, 14);
                    &:first-child {
                        padding-left: em(8, 14);
                        padding-right: em(10, 14);
                        &:after{
                            margin-left: em(10, 14);
                        }
                    }
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}
