
@use "sass:math";
@use '../../common/variables' as var;
@use '../../common/' as *;
@use '../../common/color' as color;
@use '../flex/mixin' as flex;
@use '../icon/mixin' as icon;


.thumb_ {
    &board_list {
        margin: {
            top: em(-24);
            left: em(-12);
            right: em(-12);
        }
        & > ul {
            @include flex.flex-box;
            @include flex.flex-wrap('wrap');
        }
        &.video {
            .inner {
                &:hover {
                    .thumb_img::after {
                        background-color: map-get(color.$colors, 1);
                    }
                    .thumb_img img {
                        @include vendor(transform, 'translate(-50%, -50%) scale(1.05)');
                    }
                    .thumb_tit {
                        text-decoration: underline;
                    }
                }
            }
        }
        &.brochure {
            .inner {
                &:hover {
                    .viewer {
                        transform: none;
                    }
                    .thumb_tit {
                        text-decoration: underline;
                    }
                }
            }
        }
        &.ad {
            .inner {
                &:hover {
                    .thumb_img::after {
                        transform: none;
                        opacity: 1;
                        visibility: visible;
                    }
                    .thumb_tit {
                        ._tit {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    &item {
        width: 33.3%;
        padding: {
            top: em(24);
            left: em(12);
            right: em(12);
        }
        .inner {
            display: block;
        }
        @include tab {
            width: 50%;
        }
        @include mob {
            width: 100%;
        }
    }
    &img {
        position: relative;
        overflow: hidden;
        // border: 1px solid color.$color-border;
        background-color: #eeeeee;
        @at-root {
            .video {
                .thumb_img {
                    &::before {
                        content: ''; display: block;
                        width: 100%;
                        padding-top: 56.25%;
                    }
                    &::after {
                        content:''; display :block;
                        position: absolute; top: 50%; left: 50%;
                        @include vendor(transform, 'translate(-50%, -50%)');
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='10' viewBox='0 0 8 10'%3E%3Cpath d='m5 0 5 8H0z' transform='rotate(90 4 4)' style='fill:%23fff'/%3E%3C/svg%3E");
                        width: em(60); height: em(60);
                        border-radius: 50%;
                        background-size: em(12) auto;
                        background-color: rgba(22,22,22,0.3);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            .ad {
                .thumb_img {
                    &::after {
                        position: absolute; top: 50%; left: 50%;
                        @include vendor(transform, 'translateY(-50%)');
                        visibility: hidden;
                        opacity: 0;
                        transition: all .3s;
                        margin: {
                            left: em(-30);
                            top: em(-30);
                        }
                        width: em(60); height: em(60);
                        border-radius: 50%;
                        background-color: map-get(color.$colors, 1);
                        @include flex.flex-box;
                        @include flex.justify-content('center');
                        @include flex.align-items('center');
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23FFFFFF' d='M25,23.3l-6.2-6.1c1.6-1.9,2.5-4.2,2.5-6.7C21.3,4.7,16.5-0.1,10.6,0C4.8,0,0.1,4.7,0,10.6 C0.2,16.4,4.9,21,10.7,21.1c2.3,0,4.6-0.8,6.4-2.2l6.2,6.1L25,23.3z M2.4,10.6c0-4.5,3.6-8.2,8.1-8.2c0.1,0,0.1,0,0.2,0 c5.2,0,8.3,3.6,8.3,8.2c-0.1,4.5-3.7,8.1-8.3,8.2c-4.4,0.2-8.1-3.3-8.3-7.7C2.4,10.9,2.4,10.7,2.4,10.6z'/%3E%3Cpolygon fill='%23FFFFFF' points='15.7,9.6 11.7,9.6 11.7,5.6 9.7,5.6 9.7,9.6 5.7,9.6 5.7,11.6 9.7,11.6 9.7,15.6 11.7,15.6 11.7,11.6 15.7,11.6 '/%3E%3C/svg%3E%0A");
                        background-repeat: no-repeat;
                        background-size: em(25) auto;
                        background-position: center;
                    }
                }
            }
            .brochure, .ad {
                .thumb_img {
                    &::before {
                        content: ''; display: block;
                        width: 100%;
                        padding-top: 64.87%;
                    }
                }
            }
            .brochure, .ad {
                .thumb_img {
                    img {
                        &:not(.img_none) {
                            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
                        }
                        max-width: calc(100% - em(48));
                        max-height: calc(100% - em(48));
                    }
                }
            }
        }
        img {
            position: absolute; top: 50%; left: 50%;
            @include vendor(transform, 'translate(-50%, -50%)');
            max-width: 100%; max-height: 100%;
            transition: all .35s;
        }
        .viewer {
            position: absolute; bottom: 0; left: 0;
            width: 100%;
            padding: {
                top: em(24, 18);
                bottom: em(24, 18);
            }
            font-size: em(18);
            font-weight: bold;
            color: #fff;
            background-color: rgba(0,129,233,0.9);
            @include flex.flex-box;
            @include flex.justify-content('center');
            @include flex.align-items('center');
            @include vendor(transform, 'translateY(100%)');
            @include vendor(transition, 'transform .3s');
            &::after {
                content:''; display: inline-block;
                vertical-align: top;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.014' height='15.014' viewBox='0 0 15.014 15.014'%3E%3Cpath data-name='Path 7261' d='M-75.178 183v1.5h3.784l-6.631 6.631 1.061 1.061 6.631-6.631v3.784h1.5V183z' style='fill:%23fff' transform='translate(83.848 -183)'/%3E%3Cpath data-name='Path 7262' d='M-70.333 196.514h-12.015V184.5h3.491V183h-4.991v15.014h15.014v-4.992h-1.5z' style='fill:%23fff' transform='translate(83.848 -183)'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% auto;
                width: em(15, 18); height: em(15, 18);
                margin-left: em(8, 18);
            }
        }
    }
    &text {
        font-size: em(16);
        padding: em(33) em(25);
        border: {
            left: 1px solid color.$color-border;
            right: 1px solid color.$color-border;
            bottom: 1px solid color.$color-border;
        }
    }
    &tit {
        font-size: em(22, 16);
        margin-bottom: em(32, 22);
        strong {
            display: block; font-weight: bold;
            line-height: 1.6;
            height: 3.2em;
        }
    }
    &date {
        font-size: em(14, 16);
        color: color.$color-text-b4;
    }
    @include tab {
        &text {
            padding: em(25) em(17);
        }
        &tit {
            margin-bottom: em(16, 20);
        }
    }
    @include mob {
        &tit {
            font-size: em(20, 16);
        }
    }
}
