
@use '../common/' as *;


:root{
    transition-property: font-size;
    transition-duration: 0;
    transition-delay: 0.08s;
}
img{
    transition-property: width, height;
    transition-duration: 0;
    //transition-delay: 0.3s;
}
@include mob(false, 0.5){:root{font-size: vw(16, 400);}}

@include print(){
    @page {
        size:21cm 29.7cm;
        margin:0;
    }
    :root, html, body{
        font-size: 1.3vw;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            font-size: 0.75vw;
        }
    }
    body{
        zoom: 0.8;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            zoom: 1;
        }
    }
}
