

.ft{
	position: relative;
	// z-index: 1005;
	background-size: cover;
	font-size: 1rem;
	line-height: 1.6;
	border-top: 1px solid color.$color-border;
	.ft_float_btn {
		display: none;
	}
	.ft_inner{
		@include flex.flex-box;
		@include flex.align-items('stretch');
		padding: {
			left: em(40);
			right: em(40);
		}
		color: #121212;
		max-width: em(1920);
		position: relative;
		&::after {
			content:''; display :block;
			height: 100%;
			border-left: 1px solid color.$color-border;
			position: absolute; top: 0; right: em(492);
		}
	}
	.ft_logo,
	.ft_info_box {
		padding: {
			top: em(56);
			bottom: em(69);
		}
	}
	.ft_logo{
		vertical-align: middle;
		padding-right: em(56);
		// border-right: 1px solid color.$color-border;
	}
	.ft_info_box {
		padding-left: em(56);
		@include flex.flex-box;
		width: 100%;
	}
	.ft_map {
		@include flex.flex-box;
		padding-top: em(10);
		padding-bottom: em(24);
		color: map-get(color.$colors, 2);
		font-weight: 700;
		a:hover {
			text-decoration: underline;
		}
		a {
			vertical-align: top;
		}
		li{
			position: relative;
			margin: {
				left: em(8);
			}
			padding: {
				left: em(8);
			}
			&:first-child {
				margin-left: 0;
				padding-left: 0;
				&::after { display: none; }
			}
			&::after {
				content:''; display: block; width: em(2); height: em(2);
				border-radius: 50%; background-color: #ccc;
				position: absolute; top: 50%; right: 0;
				@include vendor(transform, 'translateY(-50%)');
			}
		}
	}

	.ft_info{
		font-style: normal;
		font-weight: 400;
		// margin-top: em(-12);
		margin-top: em(-10, 14);
		margin-left: -.5em;
		letter-spacing: -.4px;
		margin-right: em(16, 14);
		font-size: em(14);
		color: #121212;
		line-height: 1.3;
		letter-spacing: -.35px;
		&:last-child {
			margin-right: 0;
		}
		&s {
			@include flex.flex-box;
			margin-top: em(14);
			@include flex.justify-content('space-between');
		}
		&_tit {
			display: block;
			width: 100%;
			margin-left: .65em;
		}
		&_item{
			display: inline-block;
			margin-top: em(10, 14);
			margin-left: .65em;
			b {
				display: inline-block;
				font-weight: 700;
				margin-right: .25em;
			}
		}
	}
	.ft_copy {
		font-size: em(14, 16);
		margin-top: em(24, 14);
		color: color.$color-bg3;
		font-weight: 700;
	}
	.infos {
		flex: 1 1 auto;
		// max-width: rem(935);
		@include pc-only {
			max-width: 65%;
		}
	}
	.ft_family_site{
		max-width: em(412);
		width: 100%;
		position: relative;
		margin-left: auto;
	    z-index: 1006;
		> a{
			position: relative;
			display: block;
			padding: em(16) em(16 + 6 + 10) em(16) em(16);
			border-bottom: 2px solid rgba(12,12,12,0.2);
			font-weight: 700;
			&::before{
				display: block;
				position: absolute; top: 50%; right: em(16);
				width: em(8); height: em(7);
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 8 7' width='8' height='7'%3E%3Cpath fill='%23121212' d='M4,7L0,0h8L4,7z'/%3E%3C/svg%3E%0A") no-repeat center;
                background-size: em(8) em(7);
			}
			&.on::before{
				transform: rotate(-180deg);
			}
		}
		.ft_family_lists {
			display: none;
			position: absolute;
			width: 100%;
			left: 0;
			bottom:100%;
			background-color: #ffffff;
			z-index: 1001;
			font-size: em(14);
			.inner {
				@include flex.flex-box;
				@include flex.align-items('stretch');
				border-bottom: 1px solid color.$color-border;
			}
			.left, .right {
				width: 50%;
			}
			.left {
				ul {
					border-left: 1px solid color.$color-border;
					height: 100%;
				}
			}
			.right {
				position: relative;
				ul {
					border-right: 1px solid color.$color-border;
					flex: 1 1 auto;
				}
				&::before {
					content:''; display: block; position: absolute; left: 0; top: 0;
					height: 100%;
					border-left: 1px solid color.$color-border;
				}
				.items {
					height: 50%;
				}
			}
			.items {
				@include flex.flex-box;
				@include flex.flex-direction('column');
			}
			._tit {
				@include flex.flex-box;
				@include flex.align-items('center');
				padding: {
					left: em(24, 14);
					right: em(24, 14);
				}
				height: em(56, 14);
				color: #fff;
				background-color: map-get(color.$colors, 1);
				@include tab {
					padding: {
						left: em(16, 14);
						right: em(16, 14);
					}
				}
			}
			ul {
				padding: em(24, 14);
				line-height: 1.35;
				a {
					display: block;
					padding: {
						top: em(6, 14);
						bottom: em(6, 14);
					}
				}
				@include tab {
					padding: em(24, 14) em(16, 14);
				}
			}
		}
	}
	.copy{
		margin-top: em(20);
	}
	@include pc-large {
		.ft_logo {
			padding-right: em(46);
			svg {
				font-size: .9em;
				width: em(273);
				// height: em(36);
			}
		}
		.ft_info_box {
			padding-left: em(46);
		}
		.infos {
			max-width: 56%;
		}
		.ft_infos {
			@include flex.flex-direction('column');
		}
		.ft_info {
			@include flex.flex-box;
			margin-top: em(12, 14);
			white-space: nowrap;
		}
		.ft_info_tit {
			width: auto;
		}
		.ft_info_item {
			margin-top: 0;
		}
	}
	@include pc-small {
		.ft_logo {
			padding-right: em(32);
			svg {
				font-size: .9em;
				width: em(243);
				// height: em(36);
			}
		}
		.infos {
			padding-right: em(38);
			max-width: 68%;

		}

		.ft_info_box {
			padding-left: em(36);
		}
		.ft_inner {
			&::after {
				right: em(380);
			}
		}
		.ft_family_site {
			max-width: em(320);
		}
	}
	@include tab {
		// font-size: em(28 * 0.8);
		padding-bottom: em(40);
		.ft_logo {
			padding-top: em(112, 28);
			padding-bottom: 0;
			border-right: 0;
			svg {
				width: em(360, 28); height: em(44, 28);
				font-size: 1em;
			}
		}
		.ft{
			&_inner {
				padding: {
					left: em(32, 28);
					right: em(32, 28);
				}
				@include flex.flex-direction('column');
				&::after {
					display: none;
				}
			}
			&_info_box {
				display: block;
				padding-left: 0;
				padding-top: em(64, 28);
				position: relative;
				word-break: keep-all;
			}
			&_infos {
				@include flex.flex-direction('row');
				@include flex.flex-wrap('wrap');
				@include flex.justify-content('flex-start');
				margin-top: em(-18, 14);
				width: 100%; max-width: 100%;
			}
			&_info {
				display: block;
				margin-top: em(18, 14);
			}
			&_info_tit {
				width: 100%;
				// margin-bottom: em(4, 14);
			}
			&_info_item {
				margin-top: em(6, 14);
				margin-left: .65em;
			}
			&_map {
				position: absolute;
				bottom: 100%; right: 0;
				padding: {
					top: 0;
					bottom: 0;
				}
			}
			&_family_site {
				margin-top: em(48, 28);
				max-width: none;
			}
		}
		.infos {
			padding-right: 0;
			padding-top: 0;
			max-width: 100%; width: 100%;
		}
	}
	@include mob {
		font-size: em(28 * 0.5);
		padding-bottom: em(40, 14);
		.ft_logo {
			svg {

			}
		}
		.ft_info {
			width: 100%;
			font-size: 1em;
		}
	}
}
