.header {
	// overflow: hidden;
	&{
		position: fixed;
		z-index: 1006;
		top:0; left:0;
		width:100%;
		font-size: 1rem;
		background-color: rgba(255, 255, 255, 0);
		transition: transform 0.3s, background .3s;
		color: #fff;
	}
	&::before{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: rgba(255, 255, 255, 0.1);
		position: absolute;
		bottom:0%;
		left:0;
	}
	.logo {
		position: relative;
		z-index: 2;
		a {
			display: block;
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.877' height='35.856' viewBox='0 0 292.877 35.856'%3E%3Cg%3E%3Cpath d='M1036.552 279.71v9.848h-6.566v-9.848h-10.668v28.721h10.668v-9.846h6.566v9.846h10.668V279.71z' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3Cpath d='M1061.764 279.71H1051.1v28.721h5.333l5.334-9.437z' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3Cpath d='m1061.764 298.994-5.334 9.437h18.291v-9.437z' style='fill:%2300b4ed' transform='translate(-1019.319 -279.71)'/%3E%3Cpath d='M1134.138 298.176c0 6.285-4.65 10.8-11.063 10.8-6.457 0-11.019-4.519-11.019-10.976 0-6.414 4.562-10.934 11.019-10.934 6.586 0 11.063 4.477 11.063 11.106m-15.927-.172c0 3.916 1.765 6.112 4.908 6.112 3.055 0 4.863-2.2 4.863-5.983 0-4-1.722-6.2-4.907-6.2-3.1 0-4.864 2.194-4.864 6.069' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3Cpath transform='translate(117.704)' style='fill:%23fff' d='M0 0h6.112v28.71H0z'/%3E%3Cpath d='M1177.828 284.747h-6.112v-5.036h6.112zm0 23.674h-6.112V287.63h6.112z' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3Cpath d='M1188.559 287.63v2.024c2.239-2.067 3.53-2.626 5.682-2.626 4.52 0 7.275 3.013 7.275 7.92v13.473h-6.116V297.1c0-2.108-.129-2.927-.646-3.7a2.892 2.892 0 0 0-2.5-1.205 3.444 3.444 0 0 0-2.626 1.119c-.688.775-.9 1.636-.9 3.443v11.666h-6.113V287.63z' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3Cpath d='M1225.587 287.759v18.682c0 3.4-.474 4.907-1.938 6.328-1.894 1.849-4.734 2.8-8.307 2.8-5.812 0-9.3-2.367-9.729-6.628h6.328c.43 1.291 1.636 1.936 3.659 1.936a4.686 4.686 0 0 0 2.884-.818c.9-.731 1.162-1.506 1.162-3.615v-1.377a7.3 7.3 0 0 1-5.6 2.238c-5.467 0-9.384-4.175-9.384-10.03s3.961-10.2 9.212-10.2a6.668 6.668 0 0 1 6.069 3.228l-.129-2.539zm-15.11 9.427c0 3.056 1.851 5.166 4.606 5.166 2.842 0 4.606-2.023 4.606-5.252 0-3.056-1.85-5.079-4.606-5.079s-4.606 2.066-4.606 5.165' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3Cpath d='M1241.469 293.871c-.259-1.549-1.507-2.366-3.53-2.366-1.765 0-2.928.688-2.928 1.72 0 .776.6 1.164 2.54 1.594l3.831.818c2.54.516 3.831 1.076 4.735 2.022a5.8 5.8 0 0 1 1.55 4.176c0 4.39-3.573 7.145-9.341 7.145s-9.341-2.712-9.685-7.317h5.725c.344 1.979 1.635 2.884 4.089 2.884 1.937 0 3.185-.776 3.185-2.023 0-.991-.689-1.507-2.324-1.894l-3.788-.861c-4.562-.99-6.327-2.669-6.327-5.983 0-4.176 3.314-6.716 8.867-6.716 5.337 0 8.566 2.412 9.125 6.8z' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3Cpath d='M1090.2 296.024v12.4h-6.469v-28.71h6.469v10.8h12.5v-10.8h6.469v28.71h-6.469v-12.4z' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3Cpath d='M1161.968 279.712h-.53l-.038 9.733a8.625 8.625 0 0 0-6.112-2.254c-5.21 0-9.6 4.427-9.6 10.9 0 6.517 4.388 10.9 9.6 10.9a8.63 8.63 0 0 0 6.112-2.255v1.64h6.119v-28.664zm-5.391 24.185c-2.985 0-5.16-2.321-5.16-5.8 0-3.438 2.175-5.8 5.16-5.8a5.479 5.479 0 0 1 5.245 5.8c0 3.481-2.473 5.8-5.245 5.8' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M1260.3 295.842h2.516v4.947h4.759v-4.947h2.5v12.579h-2.5v-5.44h-4.759v5.44h-2.516z' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3Cpath d='M1273.166 295.842h2.516v10.471h5.1v2.108h-7.615z' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3Cpath d='M1289.3 302.115a26.255 26.255 0 0 1-5.456.458h-1.055v-7.122h2.228v5.269a24.259 24.259 0 0 0 4.079-.424zm6.272 4.691c0 1.921-2.125 3.094-5.388 3.094s-5.389-1.173-5.389-3.094c0-1.9 2.125-3.093 5.389-3.093s5.386 1.187 5.386 3.093zm-2.244 0c0-.9-1.155-1.342-3.144-1.342s-3.145.441-3.145 1.342 1.156 1.343 3.145 1.343 3.142-.442 3.142-1.343zm-1.328-3.757h-2.091V294.5H1292v3.5h1.377v-3.773h2.124v9.348h-2.124V299.8H1292z' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3Cpath d='M1306.06 303.066a5.768 5.768 0 0 1-3.587-2.839 6.1 6.1 0 0 1-3.774 3.383l-1.122-1.751a5.068 5.068 0 0 0 3.689-4.793h-3.111v-1.8h8.465v1.8h-3.059a4.5 4.5 0 0 0 3.57 4.267zm4.232 3.791c0 1.9-2.04 3.025-5.286 3.025-3.264 0-5.3-1.122-5.3-3.025 0-1.921 2.04-3.06 5.3-3.06 3.246.003 5.286 1.139 5.286 3.06zm-2.227 0c0-.9-1.071-1.326-3.059-1.326-2.006 0-3.077.425-3.077 1.326 0 .884 1.071 1.309 3.077 1.309 1.988 0 3.059-.425 3.059-1.309zm4.131-9.026v1.836h-2.074v3.858h-2.244v-9.3h2.244v3.6z' style='fill:%23fff' transform='translate(-1019.319 -279.71)'/%3E%3C/g%3E%3C/svg%3E%0A");
			width: em(293); height: em(36);
		}
	}
	.h_inner{
		height: rem(var.$headerH);
		padding-left: em(42);
		padding-right: em(42);
		@include flex.align-items('center');
		position: relative;
	}
	svg{
		.cw{
			fill: #fff !important;
			color: #fff !important;
		}
	}
	.h_btns {
		position: relative;
		z-index: 2;
		margin-left: auto;
		@include flex.flex-box;
		@include flex.align-items('center');
		.h_btn {
			font-size: em(14);
			height: em(38, 14);
			.ch_fill {
				fill: #ffffff;
			}
		}
		#hAllMenu {
			.line{
				transition: transform .35s;
				&_1 {
					transform: translateX(234.5%);
				}
				&_2 {
					transform: translateX(134.5%);
				}
				&_3 {
					transform: translateX(34.5%);
				}
			}
			&.on,
			&:hover {
				.line {
					transform: translateX(0);
				}
			}
		}
	}
	@include pc-small {
		.h_inner {
			padding-left: rem(16);
			padding-right: rem(16);
		}
		.logo{
			a {
				font-size: .9em;
			}
		}
	}

	@include tab{
		&{
			height:rem(58 * 2 * .6);
			.h_inner {
				height:rem(58 * 2 * .6);
			}
			.logo {
				a {
					width: rem(180 * 2 * .6); height: rem(22 * 2 * .6);
					font-size: 1em;
				}
			}
		}
	}
	@include mob{
		&{
			height:rem(58);
		}
		.h_inner {
			height:rem(58);
		}
		.logo a {
			width: rem(180); height: rem(22);
		}
		.h_btns {
			.h_btn {
				height: rem(26);
			}
		}
		#hAllMenu {
			svg {
				width: em(29); height: em(26);
			}
		}

	}
}
#gnb {
	position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: 1;
	& > ul {
		width: em(875);
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		@include flex.flex-box;
		@include flex.align-items('center');
		@include flex.justify-content('center');
		@include vendor(transition, 'width .3s');
	}
	.depth1  {color: #fff; }
	.depth2 { color: #121212; }
	.depth1 {
		@include flex.flex-box;
		@include flex.align-items('stretch');
		@include flex.justify-content('center');
		position: relative;
		height: 100%;
		font-size: em(18);
		&:hover {
			& > a { color: map-get(color.$colors, 1);}
			@include pc-only {
				.depth2 {
					visibility: visible;
					opacity: 1;
				}
			}
		}
		& > a {
			padding: {
				left: em(40, 18);
				right: em(40, 18);
			}
			height: 100%;

		}
		a {
			@include flex.flex-box;
			@include flex.align-items('center');
			@include flex.justify-content('center');
		}
		.isset {
			& > a {
				&::after {
					content:''; display: block;
					width: em(8); height: em(8);
					margin-left: em(8);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath style='fill:%23666' d='M0,3h8v2H0V3z'/%3E%3Cpath style='fill:%23666' d='M3,0h2v8H3V0z'/%3E%3C/svg%3E%0A");
					transition: background .5s;
				}
			}
			&.on {
				& > a::after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath style='fill:%23666' d='M0,3h8v2H0V3z'/%3E%3C/svg%3E%0A");
				}
			}
		}

	}
	.depth2 {
		font-size: em(18, 18);
		position: absolute; top: 100%; left: 50%;
		margin-top: -1px;
		min-width: 100%;
		visibility: hidden;
		opacity: 0;
		padding: {
			top: em(12);
			bottom: em(12);
			// left: em(10, 18);
			// right: em(10, 18);
		}
		@include vendor(transition, 'all .3s');
		@include vendor(transform, 'translateX(-50%)');
		text-align: center;
		background-color: #fff;
		border: 1px solid #eee;
		border-top: em(4, 18) solid map-get(color.$colors, 1);
		& > li:hover {
			& > a{
				font-weight: bold;
			}
		}
		li {
			white-space: nowrap;
			min-width: em(185, 18);
			& > a {
				padding: {
					left: em(25, 18);
					right: em(25, 18);
				}
			}
		}
	}
	.depth2, .depth3 {
		li {
			padding: {
				top: em(12, 18);
				bottom: em(12, 18);
			}
			letter-spacing: -.45px;
		}
	}
	.depth3 {
		display: none;
		font-size: 1em;
		letter-spacing: -.05em;
		color: #999;
		text-align: center;
		margin: {
			top: em(3);
		}
		li:last-child { padding-bottom: 0; }
		.isset > a::after { display: none; }
	}
	.depth4 {
		display: none !important;
	}
	@include pc-small {
	    font-size: 0.9125rem;
		margin-left: em(-20, 14);
		& > ul {
			width: em(820);
			min-width: em(820);
		}
	}
	@include tab {
		display: none;
	}
}

#container.etc #header,
#header.on,
#header._fixed,
#header.hover,
#header:hover,
#header.down,
#header.__nsb,
#header.__lsb{ // __nsb : no sub visual __lsb : left sub visual
	&{
		background-color:#fff;
		// border-bottom: 1px solid rgba(255,255,255,0.2);
		border-bottom: 1px solid color.$color-border;
		color: #222;
	}
	.logo{
		a{
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.877' height='35.856' viewBox='0 0 292.877 35.856'%3E%3Cg%3E%3Cpath d='M17.233 0v9.848h-6.566V0H-.001v28.721h10.668v-9.846h6.566v9.846h10.668V0z'/%3E%3Cpath d='M42.445 0H31.781v28.721h5.333l5.334-9.437z'/%3E%3Cpath d='m1061.764 298.994-5.334 9.437h18.291v-9.437z' transform='translate(-1019.319 -279.71)' style='fill:%2300b4ed'/%3E%3Cpath d='M114.819 18.466c0 6.285-4.65 10.8-11.063 10.8-6.457 0-11.019-4.519-11.019-10.976 0-6.414 4.562-10.934 11.019-10.934 6.586 0 11.063 4.477 11.063 11.106m-15.927-.172c0 3.916 1.765 6.112 4.908 6.112 3.055 0 4.863-2.2 4.863-5.983 0-4-1.722-6.2-4.907-6.2-3.1 0-4.864 2.194-4.864 6.069'/%3E%3Cpath d='M117.704 0h6.112v28.71h-6.112z'/%3E%3Cpath d='M158.509 5.037h-6.112V.001h6.112zm0 23.674h-6.112V7.92h6.112z'/%3E%3Cpath d='M169.24 7.92v2.024c2.239-2.067 3.53-2.626 5.682-2.626 4.52 0 7.275 3.013 7.275 7.92v13.473h-6.116V17.39c0-2.108-.129-2.927-.646-3.7a2.892 2.892 0 0 0-2.5-1.205 3.444 3.444 0 0 0-2.626 1.119c-.688.775-.9 1.636-.9 3.443v11.666h-6.113V7.92z'/%3E%3Cpath d='M206.268 8.049v18.682c0 3.4-.474 4.907-1.938 6.328-1.894 1.849-4.734 2.8-8.307 2.8-5.812 0-9.3-2.367-9.729-6.628h6.328c.43 1.291 1.636 1.936 3.659 1.936a4.686 4.686 0 0 0 2.884-.818c.9-.731 1.162-1.506 1.162-3.615v-1.377a7.3 7.3 0 0 1-5.6 2.238c-5.467 0-9.384-4.175-9.384-10.03s3.961-10.2 9.212-10.2a6.668 6.668 0 0 1 6.069 3.228l-.129-2.539zm-15.11 9.427c0 3.056 1.851 5.166 4.606 5.166 2.842 0 4.606-2.023 4.606-5.252 0-3.056-1.85-5.079-4.606-5.079s-4.606 2.066-4.606 5.165'/%3E%3Cpath d='M222.15 14.161c-.259-1.549-1.507-2.366-3.53-2.366-1.765 0-2.928.688-2.928 1.72 0 .776.6 1.164 2.54 1.594l3.831.818c2.54.516 3.831 1.076 4.735 2.022a5.8 5.8 0 0 1 1.55 4.176c0 4.39-3.573 7.145-9.341 7.145s-9.341-2.712-9.685-7.317h5.725c.344 1.979 1.635 2.884 4.089 2.884 1.937 0 3.185-.776 3.185-2.023 0-.991-.689-1.507-2.324-1.894l-3.788-.861c-4.562-.99-6.327-2.669-6.327-5.983 0-4.176 3.314-6.716 8.867-6.716 5.337 0 8.566 2.412 9.125 6.8z'/%3E%3Cpath d='M70.881 16.314v12.4h-6.469V.004h6.469v10.8h12.5V.004h6.469v28.71h-6.469v-12.4z'/%3E%3Cpath d='M142.649.002h-.53l-.038 9.733a8.625 8.625 0 0 0-6.112-2.254c-5.21 0-9.6 4.427-9.6 10.9 0 6.517 4.388 10.9 9.6 10.9a8.63 8.63 0 0 0 6.112-2.255v1.64h6.119V.002zm-5.391 24.185c-2.985 0-5.16-2.321-5.16-5.8 0-3.438 2.175-5.8 5.16-5.8a5.479 5.479 0 0 1 5.245 5.8c0 3.481-2.473 5.8-5.245 5.8'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M1260.3 295.842h2.516v4.947h4.759v-4.947h2.5v12.579h-2.5v-5.44h-4.759v5.44h-2.516z' transform='translate(-1019.318 -279.71)' style='fill:%236d6e6e'/%3E%3Cpath d='M1273.166 295.842h2.516v10.471h5.1v2.108h-7.615z' transform='translate(-1019.318 -279.71)' style='fill:%236d6e6e'/%3E%3Cpath d='M1289.3 302.115a26.255 26.255 0 0 1-5.456.458h-1.055v-7.122h2.228v5.269a24.259 24.259 0 0 0 4.079-.424zm6.272 4.691c0 1.921-2.125 3.094-5.388 3.094s-5.389-1.173-5.389-3.094c0-1.9 2.125-3.093 5.389-3.093s5.386 1.187 5.386 3.093zm-2.244 0c0-.9-1.155-1.342-3.144-1.342s-3.145.441-3.145 1.342 1.156 1.343 3.145 1.343 3.142-.442 3.142-1.343zm-1.328-3.757h-2.091V294.5H1292v3.5h1.377v-3.773h2.124v9.348h-2.124V299.8H1292z' transform='translate(-1019.318 -279.71)' style='fill:%236d6e6e'/%3E%3Cpath d='M1306.06 303.066a5.768 5.768 0 0 1-3.587-2.839 6.1 6.1 0 0 1-3.774 3.383l-1.122-1.751a5.068 5.068 0 0 0 3.689-4.793h-3.111v-1.8h8.465v1.8h-3.059a4.5 4.5 0 0 0 3.57 4.267zm4.232 3.791c0 1.9-2.04 3.025-5.286 3.025-3.264 0-5.3-1.122-5.3-3.025 0-1.921 2.04-3.06 5.3-3.06 3.246.003 5.286 1.139 5.286 3.06zm-2.227 0c0-.9-1.071-1.326-3.059-1.326-2.006 0-3.077.425-3.077 1.326 0 .884 1.071 1.309 3.077 1.309 1.988 0 3.059-.425 3.059-1.309zm4.131-9.026v1.836h-2.074v3.858h-2.244v-9.3h2.244v3.6z' transform='translate(-1019.318 -279.71)' style='fill:%236d6e6e'/%3E%3C/g%3E%3C/svg%3E%0A");
		}
	}
	.h_btn {
		.ch_fill {fill: #222; }
	}
	#gnb {
		@include vendor(transition, 'border .3s');
		.depth1,
		.depth2 { color: #121212; }
	}

	@include tab{
		border-bottom: 1px solid #e5e5e5;
	}
	@include mob{
		// svg{
		// 	path{
		// 		fill: #111 !important;
		// 		color: #222 !important;
		// 	}
		// }
	}
}

@include pc-large{
	#header {
		.h_inner {
			padding: {
				left: 1.25rem;
				right: 1.25rem;
			}
		}
	}
	#header.on{
		.gnb{
			&_depth_1{
				> ul{
					padding: {
						left:0;
						right: 0;
					};
				}
			}
		}
	}
}

@include mob {
	#header.__lsb {
		&:not(._fixed) {
			background-color: rgba(255,255,255,0);
			background-color: inherit;
			border-bottom: 1px solid rgba(255,255,255,0.2);
			.logo {
				a {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='36.573' viewBox='0 0 160 36.573'%3E%3Cpath d='M-426.419 400.47a17.835 17.835 0 0 1 17.89-17.787 18.988 18.988 0 0 1 8.817 2.4c-7.935-3.01-16.678 3.3-16.678 3.3a1.43 1.43 0 0 0-.587 2.167 1.365 1.365 0 0 0 1.705.458c1.58-.873 6.776-3.881 11.88-4.233 7.861-.546 9.96 4.494 9.96 4.494-1.211-1.277-2.678-2.442-7.674-2.755-6.9.1-15.662 5.6-16.784 6.646a1.381 1.381 0 0 0-.188 2.065 1.363 1.363 0 0 0 1.739.281c.906-.571 8.584-5.943 15.116-6.352 8.007-.5 9.613 4.484 9.953 5.566-1.444-2.394-6.513-5-13.248-2.791-6.161 2.022-12.935 6.948-12.935 6.948a1.46 1.46 0 0 0-.352 2.041 1.458 1.458 0 0 0 2.113.166c2.5-1.753 7.772-6.027 14.929-7.237 5.853-.991 9.656 1.334 9.842 5.844a5.228 5.228 0 0 0-3.436-3.624c-1.252-.44-8.432-2.283-20.987 7.4a1.593 1.593 0 0 0-.409 2.421c.867.934 1.976.024 2.035-.024a49.563 49.563 0 0 1 9.91-6.155c7.382-3.461 13.078-.646 12.21 3.767-.029-3.329-4.953-4.246-10.166-2.474a28.823 28.823 0 0 0-10.459 7 1.4 1.4 0 0 0 .342 1.8 1.311 1.311 0 0 0 1.693.07 46.626 46.626 0 0 1 7.32-5.138c4.214-1.957 7.533-2.382 9.111-.667 1.71 1.856-.227 5.423-3.584 8.094a18.675 18.675 0 0 1-11.186 4.092 17.836 17.836 0 0 1-17.892-17.783zm23.806 8.693c-3.106 1.75-4.663 3.939-3.895 4.964s3.8.655 6.905-1.1 4.759-4.169 3.989-5.193a1.759 1.759 0 0 0-1.454-.5 12.608 12.608 0 0 0-5.545 1.83zm118.105 1.243a7.976 7.976 0 0 1-2.22-5.3l5.824-.039a4.409 4.409 0 0 0 .844 2.245 4.182 4.182 0 0 0 3.294 1.257c2.418 0 3.107-1.682 3.107-2.394a2.012 2.012 0 0 0-.74-1.526 8.5 8.5 0 0 0-3.408-1.269c-2.917-.668-5.392-1.556-6.64-2.665a5.41 5.41 0 0 1-1.871-4.235c0-5.463 6.287-6.42 9.541-6.42 6.147 0 8.853 2.655 8.853 6.659h-6.016a6.45 6.45 0 0 0-.039-.827c-.186-1.348-1.352-2.042-3.464-2.044a2.573 2.573 0 0 0-2.649 2c-.14 1.791 1.663 2.471 3.984 2.97 2.356.505 4.17.518 6.691 2.308a5.593 5.593 0 0 1 2 4.381c0 1.408-.6 7.053-9.322 7.053-3.654.005-6.361-.715-7.769-2.153zm-31.739 1.778v-3.242h-13.987c-1.927 0-3.2-.791-3.226-2.609v-8.3h9.372V394.1h-9.151v-3.371h10.523c.452 0 3.443-.153 3.447 2.58v7.658h-9.37v4.61h12.392v-15.2h4.819v21.814zm-64.515 0c-2.2 0-3.29-1.023-3.29-2.933V403.6h20.919v8.585zm1.535-2.764h11.3v-3.06h-11.3zm72.08 2.687V390.66h17.326v4.824h-11.109v3.992h10.339v3.816h-10.339v3.992h11.109v4.824zm-48.321-.477c-1.725 0-3.09-.627-3.127-2.708v-4.89h4.823v4.755h12.614V397.93h-2.97v-2.788h2.97v-4.931h4.821v21.421zm4.4-13.593a20.213 20.213 0 0 1-5.967 4.912l-2.613-2.786c.028-.013 4.932-2.662 6.19-6.07h-5.324v-3.024h5.536v-1.423h4.359v1.423h5.536v3.031h-5.349c1.293 3.418 6.17 6.061 6.2 6.076l-2.6 2.78a20.282 20.282 0 0 1-5.97-4.917zm-26.211-.959a11.8 11.8 0 0 1-6.155 4.753l-2.285-2.82a9 9 0 0 0 6.185-8.811h4.51c-.192 6.892 6.184 8.811 6.184 8.811l-2.287 2.82a11.829 11.829 0 0 1-6.153-4.75zm9.394 4.75v-11.46h4.821v3.716h2.213v3.556h-2.213v4.188z' transform='translate(426.919 -382.184)' style='fill:%23fff;stroke:transparent;stroke-miterlimit:10'/%3E%3C/svg%3E%0A") !important;
				}
			}
			#hAlrim {
				.ch_fill { fill: #fff !important; }
			}
			#hAllMenu {
				.ch_fill { fill: #fff !important; }
			}
		}

	}
}
#header.down{
	transform: translateY(-250%);
}
@include print() {
	.header{
		position: absolute;

	}
}

@-webkit-keyframes moveArrow1 {
	0% {
		@include vendor(transform, 'translate3d(0%, 0%, 0%)');
	}
	100% {
		@include vendor(transform, 'translate3d(15.01%, -15.01%, 0.01%)');
	}
}
@-ms-keyframes moveArrow1 {
	0% {
		@include vendor(transform, 'translate3d(0%, 0%, 0%)');
	}
	100% {
		@include vendor(transform, 'translate3d(15.01%, -15.01%, 0.01%)');
	}
}
@-o-keyframes moveArrow1 {
	0% {
		@include vendor(transform, 'translate3d(0%, 0%, 0%)');
	}
	100% {
		@include vendor(transform, 'translate3d(15.01%, -15.01%, 0.01%)');
	}
}
@keyframes moveArrow1 {
	0% {
		@include vendor(transform, 'translate3d(0%, 0%, 0%)');
	}
	100% {
		@include vendor(transform, 'translate3d(15.01%, -15.01%, 0.01%)');
	}
}


// @-webkit-keyframes moveArrow1 {
// 	100% {
// 		// @include vendor(transform, 'translate(10%, -10%)');
// 	}
// }
