#sideMenu {
    position: absolute; top: 0; left: 100%;
    font-size: rem(16);
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
    transform: none;
    transition: transform .5s ease;

    &.on {
        transform: translateX(-100%);
    }
    .side_btn {
        position: absolute; top: 50%; right: 100%;
        width: em(27); height: em(61); margin-top: em(-30);

        &::after {
            content:''; display: block;
            width: em(8); height: em(10);
            position: absolute; top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='9.597' viewBox='0 0 8 9.597'%3E%3Cpath d='M0,4.8l1.6-1.6L4.8,0H8L3.2,4.8L8,9.6H4.8L1.6,6.4L0,4.8z' style='fill:%23fff'/%3E%3C/svg%3E%0A") no-repeat center;
            background-size: em(8) auto;
        }
        .blob {
            fill: #00b4ed;
            transition: all .5s;
        }
        svg {
            width: 100% !important; height: 100% !important;
        }
        @include pc-only {
            transition: transform .3s;
            transform-origin: right;
            &:hover {
                transform: scale(1.66);
                &::after {
                    transform: translate(-50%, -50%) scale(.95);
                }
            }
        }
        @include pc-small {
            &:hover {
                transform: scale(1.46);
            }
        }
        &.on {
            .blob {
                fill: rgba(0,0,0,0.3);
            }
            &::after {
                transform: translate(-50%, -50%) scaleX(-1);
            }
        }
    }
    #toggleSide {
        height: 100%;
        padding: {
            top: em(100);
        }
        position: relative;
    }
    .inner {

        height: 100%;
        overflow-y: auto;
        padding: {
            left: rem(40);
            right: rem(40);
            bottom: em(100);
        }
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        scrollbar-gutter: stable;
        @media all and (min-width: 1440px) and (max-width: 2000px) {
            @include flex.flex-box;
            @include flex.flex-direction('column');
            // -ms-flex-pack: distribute;justify-content: space-around;
        }
        @media all and (min-width: 1480px) and (max-width: 2000px) {
            font-size: calc(var(--vh, 1vh) * 1 * 1.4814);
        }
        @include pc-small {
            padding: {
                left: rem(30);
                right: rem(30);
            }
        }
        &::-webkit-scrollbar {
            width: 5px;
            // display: none;
            transform: scaleX(.5);
            transition: transform .25s;
            &:hover {
                transform: scaleX(1);
            }
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255,255,255,0.5);
            border-radius: 5px;
        }
    }
    .side_box {
        width: rem(407);
        &:first-child {
            .side_tit {
                margin-top: 0;
            }
        }
        @include pc-small {
            width: rem(315);
        }
    }
    .side_tit {
        @include flex.flex-box;
        @include flex.align-items('center');
        font-size: em(34);
        color: #fff;
        font-weight: 700;
        margin-top: em(40, 34);
        margin-bottom: em(24, 34);
        position: relative;
        .ps {
            @include flex.flex-box;
            @include flex.align-items('center');
            @include flex.justify-content('center');
            font-size: em(14, 34);
            padding: em(5, 14) em(10, 14);
            border-radius: em(32, 14);
            margin-left: em(16, 14);
            background-color: rgba(255,255,255,0);
            border: em(2, 14) solid #fff;
            min-width: em(70, 14);
            &:hover {
                background-color: rgba(255,255,255,1);
                color: color.$color-text-b;
            }
            &::before {
                content:'공실현황'; display: block;
            }
            &.on {
                background-color: map-get(color.$colors, 1);
                border-color: map-get(color.$colors, 1);
                &::before {
                    color: #fff;
                    content: 'Close';
                }
            }
        }
        .more {
            position: absolute; top: 50%; right: 0;
            transform: translateY(-50%);
            width: em(24, 34); height: em(24, 34);
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M183.325 165.708h21.6l-2.4 3h-21.6z' transform='translate(-180.925 -155.208)' style='fill:%23fff'/%3E%3Cpath d='M192.424 157.209v21.6l-3 2.4v-21.6z' transform='translate(-178.924 -157.209)' style='fill:%23fff'/%3E%3C/svg%3E%0A") no-repeat center / 100% auto;
        }
        @include pc-small {
            font-size: em(30);
        }
    }
    .customer_list,
    .toggle_list {
        color: #fff;
        position: relative;
        &::before {
            content:''; display: block;
            position: absolute; top: 0; left: 0;
            width: 100%; height: em(4);
            background-color: #fff;
            transform: skew(-30deg);
        }
        border-bottom: 1px solid rgba(255,255,255,0.6);
        .item {
            border-top: 1px solid rgba(255,255,255,0.2);
            &:first-child { border-top: 0; }
        }
    }
    .toggle_list {

        .inner {
            position: relative;
            @include flex.flex-box;
            @include flex.justify-content('center');
            @include flex.flex-direction('column');
            @include flex.align-items('baseline');
            padding: em(34) em(16 + 64 + 10) em(34) em(16);
            @include pc-small {
                padding-left: em(8);
            }
            .toggle {
                display: block;
                position: absolute; top: 50%; right: em(16, 16);
                width: em(64, 16); height: em(64, 16);
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 8 7' width='8' height='7'%3E%3Cpath fill='%23fff' d='M4,7L0,0h8L4,7z'/%3E%3C/svg%3E%0A") no-repeat center;
                background-size: em(8, 16) em(7, 16);
                border-radius: 50%;
                border: 1px solid color.$color-bg3;
                transform: translateY(-50%);
                transition: background .3s;
                cursor: pointer;
                @include pc-small {
                    width: em(54, 16); height: em(54, 16);
                    right: em(8, 16);
                }
                &:hover {
                    background-color: rgba(255,255,255, 0.2);
                }
            }

            &.on {
                .toggle {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='8' height='7' viewBox='0 0 8 7'%3E%3Cpath fill='%23fff' d='M8,7H0l4-7L8,7z'/%3E%3C/svg%3E%0A");
                }
            }
        }
        .toggle_lap {
            display: none;
            position: relative;
            overflow: hidden;
            // background-color: map-get(color.$colors, 2);
            &::before {
                content:''; display: block;
                padding-top: 66.7475%;
            }
            img {
                max-width: none;
                width: 100%;
            }
            & > a {
                position: absolute; top: 50%; left: 50%;
                display: block;
                width: 100%; height: 100%;
                @include vendor(transform, 'translate(-50%, -50%)');
                &::after {
                    content:''; display: block;
                    position: absolute; bottom: 0; right: 0;
                    width: em(50); height: em(50);
                    background-color: map-get(color.$colors, 2);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: em(24) auto;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M183.325 165.708h21.6l-2.4 3h-21.6z' transform='translate(-180.925 -155.208)' style='fill:%23fff'/%3E%3Cpath d='M192.424 157.209v21.6l-3 2.4v-21.6z' transform='translate(-178.924 -157.209)' style='fill:%23fff'/%3E%3C/svg%3E%0A");
                    transform-origin: bottom right;
                    transition: all .3s;
                }
            }
        }
        ._tit {
            font-size: em(18); font-weight: 700;
            letter-spacing: -.45px;
            @media all and (min-width: 1480px) and (max-width: 2000px) {
                font-size: rem(18);
            }
            @include pc-small(true) {
                font-size: rem(16);
            }
        }
        ._txt {
            @include flex.flex-box;
            @include flex.align-items('center');
            font-size: em(14);
            margin-top: em(16, 14);
            @media all and (min-width: 1280px) and (max-width: 2000px) {
                font-size: rem(14);
            }
            .num {
                @include flex.flex-box;
                @include flex.align-items('center');
                @include flex.justify-content('center');
                margin-left: em(8, 14);
                min-width: em(32, 14);height: em(22, 14);
                border-radius: em(22, 14);
                background-color: map-get(color.$colors ,1);
                color: #fff;
                font-weight: 700;
                line-height: normal;
                padding: {
                    left: em(2, 14);
                    right: em(2, 14);
                }
                text-align: center;
            }
            i { font-style: normal; }
        }
    }
    // toggle_list :: e
    .customer_list {
        .item {
            @include flex.flex-box;
            @include flex.align-items('center');
            @include flex.justify-content('space-between');
            padding: em(34) em(16);
        }
        ._tit {
            font-size: em(18);
            font-weight: 700;
            @media all and (min-width: 1480px) and (max-width: 2000px) {
                font-size: rem(18);
            }
            @include pc-small(true) {
                font-size: rem(16);
            }
        }
        ._txt {
            font-size: em(14);
            @media all and (min-width: 1280px) and (max-width: 2000px) {
                font-size: rem(14);
            }
            & > * {
                @include flex.flex-box;
                @include flex.align-items('center');
                color: #ddd;
                letter-spacing: normal;
                & + * {
                    margin-top: em(12, 14);
                }
                &::before {
                    content: ''; display: block;
                    color: #888;
                    margin-right: em(24, 14);

                }
                &.tel::before {
                    content: 'TEL';
                }
                &.fax::before {
                    content: 'FAX';
                }
            }
        }
    }
    // customer_list :: e
    .side_btns {
        margin-top: em(32);
        margin-bottom: em(26);
        @include flex.flex-box;
        @include flex.align-items('stretch');
        .btn {
            font-size: 1em;
            font-weight: 400;
            letter-spacing: -.4px;
            border-right:0;
            border-color: #444;
            width: 33.333%;
            padding: {
                left: em(10);
                right: em(10);
            }
            color: #fff;
            @media all and (min-width: 1280px) and (max-width: 2000px) {
                font-size: 1rem;
            }
            &:last-child {
                border-right: 1px solid #444;
            }
            &:hover {
                background-color: rgba(255,255,255,0);
                font-weight: 700;
            }
        }
    }
    @include tab {
        position: static;
        height: auto;
        transition: none;
        background-color: #f8f8f8;
        // font-size: em(32 * .8);
        &.on {
            transform: none;
        }
        #toggleSide {
            padding-top: 0;
        }
        .side_btn {
            display: none;
        }
        .inner {
            overflow: hidden;
            padding: {
                left: em(32, 28);
                right: em(32, 28);
                bottom: em(112, 28);
            }
        }
        .side_box {
            width: 100%;
        }
        .side_tit,
        .customer_list, .toggle_list {
            color: #121212;
        }
        .customer_list, .toggle_list {
            border-bottom-color: #b2b2b2;
            &::before {
                background-color: #121212;
                height: 3px;
            }
            .item {
                border-top-color: color.$color-border;
            }
        }
        .toggle_list {
            .inner {
                .toggle {
                    right: em(32, 32);
                    width: em(128, 32); height: em(128, 32);
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 8 7' width='8' height='7'%3E%3Cpath fill='%23002b68' d='M4,7L0,0h8L4,7z'/%3E%3C/svg%3E%0A");
                    background-size: em(16, 32) em(15, 32);
                }
                &.on {
                    .toggle {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='8' height='7' viewBox='0 0 8 7'%3E%3Cpath fill='%23002b68' d='M8,7H0l4-7L8,7z'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
        .customer_list {
            ._txt {
                & > * {
                    color: #444;
                    b {
                        font-weight: 400;
                    }
                    &::before {
                        font-weight: bold;
                        color: #b2b2b2;
                    }
                }

            }
        }
        .side_box:first-child .side_tit,
        .side_tit {
            margin-top: em(56, 26);
        }
        .side_tit {
            font-size: em(52, 32);
            .ps {
                font-size: em(14, 26);
                border-color: #121212;
                border-width: 1px;
                font-weight: 700;
            }
            .more {
                width: em(40, 52); height: em(40, 52);
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M183.325 165.708h21.6l-2.4 3h-21.6z' transform='translate(-180.925 -155.208)' style='fill:%23121212'/%3E%3Cpath d='M192.424 157.209v21.6l-3 2.4v-21.6z' transform='translate(-178.924 -157.209)' style='fill:%23121212'/%3E%3C/svg%3E%0A");
            }
        }
        .side_btns {
            margin-bottom: 0;
            .btn {
                @include flex.flex-box;
                @include flex.align-items('center');
                @include flex.justify-content('center');
                font-size: em(14, 16);
                height: em(128, 28);
                line-height: 1.28;
                line-height: auto;
                border-color: map-get(color.$colors, 2);
                color: map-get(color.$colors, 2);
                font-weight: bold;
                border-width: 1px;
                &::before {
                    background-color: map-get(color.$colors, 2);
                }
                &:hover{
                    color: #fff;
                }
            }
        }
    }
    @include mob {
        font-size: em(32 * .5);
    }
}
