@use "sass:math";
@use "sass:string";
@use '../../common/' as *;
@use '../../common/variables' as var;
@use '../../common/color' as color;
@use '../icon/mixin' as icon;
@use '../flex/mixin' as flex;

$charade: #282a37;
$bluebell: #282a37;


//<div class="loading">
//  <div></div>
//  <div></div>
//  <div></div>
//</div>

//<div class="donut"></div>
//<div class="donut multi"></div>
//<div class="ripple"></div>

//<div class="multi-ripple">
//  <div></div>
//  <div></div>
//</div>

//<div class="fancy-spinner">
//  <div class="ring"></div>
//  <div class="ring"></div>
//  <div class="dot"></div>
//</div>


// aocr loading :: s
.loading {
  display: flex;
  justify-content: center;

  div {
    width: 1rem;
    height: 1rem;
    margin: 2rem 0.3rem;
    background: $bluebell;
    border-radius: 50%;
    animation: 0.9s bounce infinite alternate;

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }
  }
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}

.donut {
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba($bluebell, 0.3);
  border-top-color: $bluebell;
  animation: 1.5s spin infinite linear;

  &.multi {
    border-bottom-color: $bluebell;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.ripple {
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid $bluebell;
  transform: translate(50%);
  animation: 1s ripple ease-out infinite;
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}

.multi-ripple {
  width: 2.6rem;
  height: 2.6rem;
  margin: 2rem;

  div {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.3rem solid $bluebell;
    animation: 1.5s ripple infinite;

    &:nth-child(2) {
      animation-delay: 0.5s;
    }
  }
}

.fancy-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;

  div {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    &.ring {
      border-width: 0.5rem;
      border-style: solid;
      border-color: transparent;
      animation: 2s fancy infinite alternate;

      &:nth-child(1) {
        border-left-color: $bluebell;
        border-right-color: $bluebell;
      }
      &:nth-child(2) {
        border-top-color: $bluebell;
        border-bottom-color: $bluebell;
        animation-delay: 1s;
      }
    }

    &.dot {
      width: 1rem;
      height: 1rem;
      background: $bluebell;
    }
  }
}

@keyframes fancy {
  to {
    transform: rotate(360deg) scale(0.5);
  }
}

// aocr loading :: e


.loading {
    &_wrap {
        position: fixed;
        top: 0; left: 0; width: 100%; height: 100%;
        overflow: hidden;
        z-index:  5000;

        @include flex.flex-box;
        @include flex.align-items('center');
        @include flex.justify-content('center');
        background: #fafafa url('/resource/images/common/loading_bg.png') no-repeat center center;
        background-size: cover;
        @include mob {
            background-image: url('/resource/images/common/loading_bg_m.png');
        }
        @include mob-small {
            background-size: contain;
        }
    }
    &_box {
        .logo_box {
            display: block;
            padding: {
                left: em(8);
                right: em(8);
            }
            svg {
                width: 100%;
            }
            margin: {
                left: auto;
                right: auto;
            }
            @include tab {
                width: em(199);
                height: em(45);
            }
        }
    }
    &_bar {
        display: block;
        margin-top: em(40);
        background-color: #dddddd;
        position: relative;
        height: em(4);
        min-width: em(220);
        .lange {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background-color: map-get(color.$colors, 1);
            @include vendor(transform, 'scaleX(0)');
            transform-origin: left;
            // transition: transform .35s;
        }
        @include mob {
            margin-top: em(32);
        }
    }
}
