$colors  : (
    1 :  #00b4ed,
    2 :  #020a0a,
    3 :  #00204e,
    4 :  #00275e,
    5 :  #ff5053,
    6 :  #0cbafd,
    7 :  #0059a1,
    8 :  #91c4ee,
    9 :  #e90000,
);


$color-text-b    : #222222;
$color-text-b2   : #444444;
$color-text-b3   : #666666;
$color-text-b4   : #999999;
$color-text-b5   : #999999;
$color-text-b6   : #e6e6e6;

$color-border : #dddddd;

$color-bg1 : #f8f8f8;
$color-bg2 : #aaaaaa;
$color-bg3 : #b2b2b2;
