$desktop-xl-width  : 2000px;
$desktop-l-width  : 1700px;
$desktop-s-width  : 1440px;

$tablet-l-width   : 1280px;
$tablet-s-width   : 1024px;

$mob-l-width      : 800px;
$mob-m-width      : 600px;
$mob-s-width      : 450px;


@mixin pc-xl {
  @media screen and (min-width: #{$desktop-xl-width + 1}) {
    @content;
  }
}
// only PC
@mixin pc-only {
  @media screen and (min-width: #{$tablet-l-width + 1}), print {
    @content;
  }
}

// PC small
@mixin pc-small ($media : false) {
  @if $media {
    @media screen and (min-width: #{$tablet-l-width + 1}) and (max-width: #{$desktop-s-width}) {
      @content;
    }
  }
  @else {
    @media screen and (max-width: #{$desktop-s-width}) {
      @content;
    }
  }
}

// PC large
@mixin pc-large ($media : false) {
    @if $media {
        @media screen and (min-width: #{$desktop-s-width + 1}) and (max-width: #{$desktop-l-width}) {
            @content;
        }
    }
    @else {

        @media screen and (max-width: #{$desktop-l-width}) {
            @content;
        }
    }
}


// --------------------------------------------------

// tab
@mixin tab ($media : false){
  @if $media {
    @media screen and (min-width: #{$mob-l-width + 1}) and (max-width: #{$tablet-l-width}) {
      @content;
    }
  }
  @else {
    @media screen and (max-width: #{$tablet-l-width}) {
      @content;
    }
  }
}

@mixin tab-small ($media : false){
  @if $media {
    @media screen and (min-width: #{$mob-l-width + 1}) and (max-width: #{$tablet-s-width}) {
      @content;
    }
  }
  @else {
    @media screen and (max-width: #{$tablet-s-width}) {
      @content;
    }
  }
}

// --------------------------------------------------


// mob
@mixin mob-not (){
  @media screen and (min-width: #{$mob-l-width  + 1}),  print{
    @content;
  }
}

@mixin mob ($media : false, $ratio : 1){
  @if $ratio == 0.5 { //0.5x
    @media screen and (max-width: 400px)  {
      @content;
    }
  }

  @else {//1
    @if $media {
      @media screen and (min-width: 400px) and (max-width: #{$mob-l-width})  {
        @content;
      }
    }
    @else{
      @media screen and (max-width: #{$mob-l-width})  {
        @content;
      }
    }
  }
}


// mob mid
@mixin mob-mid ($media : false){
  @media screen and (max-width: #{$mob-m-width+1})   {
    @content;
  }
}

// mob small
@mixin mob-small ($media : false){
  @media screen and (max-width: #{$mob-s-width})   {
    @content;
  }
}

// mob small
@mixin print (){
  @media print  {
    @content;
  }
}
